@define-color cc-bg rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 0.7);

@define-color noti-border-color rgba({{base04-rgb-r}}, {{base04-rgb-g}}, {{base04-rgb-b}}, 0.15);
@define-color noti-bg rgba({{base00-rgb-r}}, {{base00-rgb-g}}, {{base00-rgb-b}}, 1);
@define-color noti-fg rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 1);
@define-color noti-fg-secondary rgba({{base05-rgb-r}}, {{base05-rgb-g}}, {{base05-rgb-b}}, 0.7);
@define-color noti-bg-hover rgb({{base01-rgb-r}}, {{base01-rgb-g}}, {{base01-rgb-b}});
@define-color noti-bg-focus rgba(68, 68, 68, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color menubar-button rgb({{base02-rgb-r}}, {{base02-rgb-g}}, {{base02-rgb-b}});

@define-color bg-selected rgb({{base07-rgb-r}}, {{base07-rgb-g}}, {{base07-rgb-b}});
