$theme: 'dark';

$primary: @{primary};
$primary_fixed: @{primary_fixed};
$primary_fixed_dim: @{primary_fixed_dim};
$on_primary: @{on_primary};
$on_primary_fixed: @{on_primary_fixed};
$on_primary_fixed_variant: @{on_primary_fixed_variant};
$primary_container: @{primary_container};
$on_primary_container: @{on_primary_container};
$secondary: @{secondary};
$secondary_fixed: @{primary_fixed};
$secondary_fixed_dim: @{primary_fixed_dim};
$on_secondary: @{on_secondary};
$on_secondary_fixed: @{on_secondary_fixed};
$on_secondary_fixed_variant: @{on_secondary_fixed_variant};
$secondary_container: @{secondary_container};
$on_secondary_container: @{on_secondary_container};
$tertiary: @{tertiary};
$tertiary_fixed: @{primary_fixed};
$tertiary_fixed_dim: @{primary_fixed_dim};
$on_tertiary: @{on_tertiary};
$on_tertiary_fixed: @{on_tertiary_fixed};
$on_tertiary_fixed_variant: @{on_tertiary_fixed_variant};
$tertiary_container: @{tertiary_container};
$on_tertiary_container: @{on_tertiary_container};
$error: @{error};
$on_error: @{on_error};
$error_container: @{error_container};
$on_error_container: @{on_error_container};
$surface: @{surface};
$surface_transparent: transparentize($surface, 0.2);
$on_surface: @{on_surface};
$on_surface_variant: @{on_surface_variant};
$outline: @{outline};
$shadow: @{shadow};
$scrim: @{scrim};
$inverse_surface: @{inverse_surface};
$inverse_surface_transparent: transparentize(@{inverse_surface}, 0.92);
$inverse_surface_transparent_variant: transparentize(@{inverse_surface}, 0.82);
$inverse_on_surface: @{inverse_on_surface};
$inverse_primary: @{inverse_primary};
$surface_dim: @{surface_dim};
$surface_bright: @{surface_bright};
$surface_container_lowest: @{surface_container_lowest};
$surface_container_low: @{surface_container};
$surface_container: @{surface_container};
$surface_container_high: @{surface_container_high};
$surface_container_highest: @{surface_container_highest};

$source_color: @{source_color};
$color_accent_primary: @{color_accent_primary};
$color_accent_primary_variant: @{color_accent_primary_variant};
$color_accent_secondary: @{color_accent_secondary};
$color_accent_secondary_variant: @{color_accent_secondary_variant};
$color_accent_tertiary: @{color_accent_tertiary};
$color_accent_tertiary_variant: @{color_accent_tertiary_variant};
$text_color_primary: @{text_color_primary};
$text_color_secondary: @{text_color_secondary};
$text_color_tertiary: @{text_color_tertiary};
$text_color_primary_inverse: @{text_color_primary_inverse};
$text_color_secondary_inverse: @{text_color_secondary_inverse};
$text_color_tertiary_inverse: @{text_color_tertiary_inverse};
$color_background: @{color_background};
$color_background_floating: @{color_background_floating};
$color_surface: @{color_surface};
$color_surface_variant: @{color_surface_variant};
$color_surface_highlight: @{color_surface_highlight};
$surface_header: @{surface_header};
$under_surface: @{under_surface};
$off_state: @{off_state};
$accent_surface: @{accent_surface};
$text_primary_on_accent: @{text_primary_on_accent};
$text_secondary_on_accent: @{text_secondary_on_accent};
$volume_background: @{volume_background};
$scrim_android: @{scrim_android};
