local M = {}

M.base_30 = {
  white = "#{{onSurface}}",
  darker_black = "#{{surface}}",
  black = "#{{surface1}}", --  nvim bg
  black2 = "#{{surface2}}",
  one_bg = "#{{surface3}}",
  one_bg2 = "#{{surface4}}",
  one_bg3 = "#{{surface5}}",
  grey = "#{{outlineVariant}}",
  grey_fg = "#{{onSurfaceVariant}}",
  grey_fg2 = "#{{outline}}",
  light_grey = "#{{outline}}",
  red = "#{{red}}",
  baby_pink = "#{{red}}",
  pink = "#{{red}}",
  line = "#{{surface3}}", -- for lines like vertsplit
  green = "#{{green}}",
  vibrant_green = "#{{green}}",
  blue = "#{{blue}}",
  nord_blue = "#{{blue}}",
  yellow = "#{{yellow}}",
  sun = "#{{yellow}}",
  purple = "#{{magenta}}",
  dark_purple = "#{{magenta}}",
  teal = "#{{teal}}",
  orange = "#{{orange}}",
  cyan = "#{{teal}}",
  statusline_bg = "#{{surface2}}",
  lightbg = "#{{surface3}}",
  pmenu_bg = "#{{red}}",
  folder_bg = "#{{blue}}",
}

M.base_16 = {
    base00 = "#{{surface}}",
    base01 = "#{{surface3}}",
    base02 = "#{{surface5}}",
    base03 = "#{{outline}}",
    base04 = "#{{onSurfaceVariant}}",
    base05 = "#{{onSurface}}",
    base06 = "#{{onSurface}}",
    base07 = "#{{onSurface}}",
    base08 = "#{{red}}",
    base09 = "#{{orange}}",
    base0A = "#{{yellow}}",
    base0B = "#{{green}}",
    base0C = "#{{teal}}",
    base0D = "#{{blue}}",
    base0E = "#{{magenta}}",
    base0F = "#{{brown}}"
}

M.type = "dark"

return M
