thm_bg="#{{surface2}}"
thm_fg="#{{onSurface}}"
thm_cyan="#{{teal}}"
thm_black="#{{surface2}}"
thm_gray="#{{surface2}}"
thm_magenta="#{{magenta}}"
thm_pink="#{{red}}"
thm_red="#{{red}}"
thm_green="#{{green}}"
thm_yellow="#{{yellow}}"
thm_blue="#{{blue}}"
thm_orange="#{{orange}}"
thm_black4="#{{surface3}}"
