set default-bg                  "#{{surface}}"
set default-fg                  "#{{onSurface}}"

set statusbar-bg                "#{{surface3}}"
set statusbar-fg                "#{{onSurface}}"

set inputbar-bg                 "#{{surface}}"
set inputbar-fg                 "#{{onSurface}}"

set notification-bg             "#{{surface}}"
set notification-fg             "#{{onSurface}}"

set notification-error-bg       "#{{surface}}"
set notification-error-fg       "#{{onSurface}}"

set notification-warning-bg     "#{{surface}}"
set notification-warning-fg     "#{{onSurface}}"

set highlight-color             "#{{primary}}"
set highlight-active-color      "#{{onPrimary}}"

set completion-bg               "#{{surface3}}"
set completion-fg               "#{{onSurface}}"

set completion-highlight-bg     "#{{primary}}"
set completion-highlight-fg     "#{{onPrimary}}"

set recolor-lightcolor          "#{{surface}}"
set recolor-darkcolor           "#{{onSurface}}"

set recolor                     "true"
set recolor-keephue             "false"
set selection-clipboard clipboard
