$theme: 'dark';

$primary: #a9cbe5;
$primary_fixed: #c8e6ff;
$primary_fixed_dim: #a9cbe5;
$on_primary: #0e3448;
$on_primary_fixed: #001e2e;
$on_primary_fixed_variant: #284a60;
$primary_container: #284a60;
$on_primary_container: #c8e6ff;
$secondary: #c1c7ce;
$secondary_fixed: #c8e6ff;
$secondary_fixed_dim: #a9cbe5;
$on_secondary: #2a3137;
$on_secondary_fixed: #161c21;
$on_secondary_fixed_variant: #41484d;
$secondary_container: #41484d;
$on_secondary_container: #dde3ea;
$tertiary: #cbc3d6;
$tertiary_fixed: #c8e6ff;
$tertiary_fixed_dim: #a9cbe5;
$on_tertiary: #332e3c;
$on_tertiary_fixed: #1d1927;
$on_tertiary_fixed_variant: #494453;
$tertiary_container: #494453;
$on_tertiary_container: #e7dff2;
$error: #ffb4ab;
$on_error: #690005;
$error_container: #93000a;
$on_error_container: #ffb4ab;
$surface: #131314;
$surface_transparent: transparentize($surface, 0.2);
$on_surface: #e4e2e3;
$on_surface_variant: #c5c6c9;
$outline: #8f9193;
$shadow: #000000;
$scrim: #000000;
$inverse_surface: #e4e2e3;
$inverse_surface_transparent: transparentize(#e4e2e3, 0.92);
$inverse_surface_transparent_variant: transparentize(#e4e2e3, 0.82);
$inverse_on_surface: #303031;
$inverse_primary: #416279;
$surface_dim: #131314;
$surface_bright: #39393a;
$surface_container_lowest: #0d0e0f;
$surface_container_low: #1f2021;
$surface_container: #1f2021;
$surface_container_high: #292a2b;
$surface_container_highest: #343536;

$source_color: #4a6b82;
$color_accent_primary: #c8e6ff;
$color_accent_primary_variant: #8eafc9;
$color_accent_secondary: #dde3ea;
$color_accent_secondary_variant: #a5acb3;
$color_accent_tertiary: #e7dff2;
$color_accent_tertiary_variant: #afa8ba;
$text_color_primary: #f2f0f1;
$text_color_secondary: #c5c6c9;
$text_color_tertiary: #8f9193;
$text_color_primary_inverse: #1b1c1d;
$text_color_secondary_inverse: #464748;
$text_color_tertiary_inverse: #777778;
$color_background: #1b1c1d;
$color_background_floating: #1b1c1d;
$color_surface: #303031;
$color_surface_variant: #464748;
$color_surface_highlight: #525253;
$surface_header: #464748;
$under_surface: #000000;
$off_state: #303031;
$accent_surface: #ebf1f9;
$text_primary_on_accent: #1b1c1d;
$text_secondary_on_accent: #454749;
$volume_background: #3b3b3c;
$scrim_android: #c7c6c7;
