$theme: 'dark';

$red: #ffaedb;
$green: #99d695;
$yellow: #fde6b3;
$blue: #98cbff;
$magenta: #cabeff;
$teal: #87d5c8;
$orange: #ffb59d;
$surface: #111416;
$surface1: #0c0e10;
$surface2: #1a1c1e;
$surface3: #1e2022;
$surface4: #282a2c;
$surface5: #333537;
$onSurface: #e1e2e5;
$primary: #85cfff;
$onPrimary: #00344e;

$bg_color: #0c0e10;
$bg2_color: #1e2022;
$bg3_color: #333537;
$fg_color: #e1e2e5;
$hover_fg: #e1e2e5;
$accent_fg: #00344e;
$hover: transparentize(#e1e2e5, 0.84);
$accent: #85cfff;
