$theme: 'dark';

$red: #ffb3b6;
$green: #8ed88b;
$yellow: #ffdf8b;
$blue: #a1c9ff;
$magenta: #cabeff;
$teal: #4bd9de;
$orange: #ffb59c;
$bg_color: #1b1b1b;
$bg2_color: #111316;
$bg3_color: #42474e;
$fg_color: #e2e2e6;
$hover_fg: #e2e2e6;
$accent_fg: #171717;
$hover: transparentize(#e2e2e6, 0.84);
$accent: #9bcaff;