* {
	all: unset;
	font-size: 14px;
	font-family: "Product Sans", sans-serif;
	font-weight: 500;
	padding: 0;
	margin: 0;
}

@mixin bar_block($colorful: false) {
	transition: background-color 0.2s ease-in-out;
	border-radius: 100px;

	@if $colorful {
		color: $on_primary_container;
		background-color: $primary_container;
		&:hover {
			background-color: $primary_fixed;
		}
	}

	@if not($colorful) {
		color: $on_surface;
		background-color: $inverse_surface_transparent;
		&:hover {
			background-color: $inverse_surface_transparent_variant;
		}
	}
}

.separator {
	min-width: 8px;
	min-height: 8px;
}

.text__bold {
	font-weight: 600;
}

tooltip {
	> * > * {
		background-color: $color_surface;
		color: $on_surface;
		padding: 20px;
		border-radius: 20px;
	}
}

window.popup {
	> * {
		border: none;
		box-shadow: none;
	}

	menu {
		margin-top: 12px;
		border-radius: 18px;
		background-color: $surface_container;
		padding: 12px;

		// separator {
		//     background-color: $border_color;
		// }

		menuitem {
			padding: 8px 10px;
			color: $on_surface;
			border-radius: 8px;
			transition: background 0.1s ease;
			&:hover {
				background: $surface_container_highest;
			}
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
