* {
  all: unset;
  font-size: 14px;
  font-family: 'Product Sans', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0; }

.separator {
  min-width: 8px;
  min-height: 8px; }

.text__bold {
  font-weight: 600; }

.bar {
  background-color: rgba(30, 32, 34, 0.6);
  margin: 0;
  padding: 8px 12px; }

.workspaces,
.clock,
.keyboardlayout,
.bar__quicksettings,
.notifications-indicator {
  transition: background-color 1s ease-in-out;
  border-radius: 100px;
  color: #e2e2e5;
  background-color: #111316; }
  .workspaces:hover,
  .clock:hover,
  .keyboardlayout:hover,
  .bar__quicksettings:hover,
  .notifications-indicator:hover {
    background-color: #1a1c1e; }

.battery,
.launcher {
  transition: background-color 1s ease-in-out;
  border-radius: 100px;
  color: #003353;
  background-color: #91ccff; }
  .battery:hover,
  .launcher:hover {
    background-color: rgba(145, 204, 255, 0.66); }

.launcher {
  padding: 0;
  margin: 0;
  min-width: 42px;
  min-height: 42px; }
  .launcher .launcher__icon {
    background-color: #1e2022;
    min-width: 14px;
    min-height: 14px;
    border-radius: 100%; }

.workspace-indicator {
  min-width: 14px;
  min-height: 14px;
  border-radius: 100%;
  margin: 0 5px;
  padding: 0;
  transition: background-color 0.4s ease-out; }
  .workspace-indicator:last-child {
    margin-right: 14px; }
  .workspace-indicator:first-child {
    margin-left: 14px; }
  .workspace-indicator.empty {
    background-color: #333537; }
  .workspace-indicator.occupied {
    background-color: #333537; }
  .workspace-indicator:hover {
    background-color: rgba(145, 204, 255, 0.6); }
  .workspace-indicator.active, .workspace-indicator:active {
    background-color: #91ccff; }

.clock {
  padding: 0 18px; }

.keyboardlayout {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  min-width: 42px;
  min-height: 42px; }

.bar__quicksettings {
  padding: 0 18px;
  min-width: 0;
  border-radius: 100px; }
  .bar__quicksettings * .device {
    margin-right: 8px; }
  .bar__quicksettings * label {
    margin-right: 10px; }

.battery {
  padding: 0 12px;
  min-width: 0; }
  .battery .battery__indicator {
    margin-right: 4px; }
  .battery label {
    font-weight: 700; }

.notifications-indicator {
  padding: 0px 12px; }
  .notifications-indicator label {
    margin-left: 5px; }

.tray image {
  font-size: 17px;
  margin-left: 8px; }

.controlcenter__container {
  min-height: 400px;
  background-color: rgba(30, 32, 34, 0.6);
  padding: 20px;
  border-radius: 40px; }

.notifications--list {
  margin-left: 20px;
  padding: 20px;
  border-radius: 30px;
  min-width: 400px;
  background-color: #1a1c1e; }

.quicksettings__button {
  background-color: #0c0e10;
  color: #e2e2e5;
  padding: 0px;
  border-radius: 30px;
  min-width: 240px;
  min-height: 75px;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  .quicksettings__button.active {
    background-color: #91ccff;
    color: #003353; }
  .quicksettings__button image {
    margin-left: 24px;
    margin-right: 18px; }

.submenu {
  margin-top: 8px;
  background-color: #0c0e10;
  color: #e2e2e5;
  padding: 30px;
  border-radius: 30px; }
  .submenu .title {
    padding: 14px 20px;
    background-color: #91ccff;
    color: #003353;
    border-radius: 100px;
    margin-bottom: 8px; }
    .submenu .title > *:first-child {
      margin-right: 14px; }
    .submenu .title label {
      font-weight: bold;
      font-size: 16px; }
  .submenu .content > button,
  .submenu .content > box {
    margin: 8px; }
  .submenu .content > button:last-child,
  .submenu .content > box:last-child {
    margin: 8px;
    margin-bottom: 0px; }
  .submenu .content image {
    margin-right: 4px; }

.cover-art {
  margin-top: 8px;
  min-height: 205px;
  border-radius: 30px;
  background-size: cover;
  transition: all 0.2s; }
  .cover-art .footerbox .previous {
    font-size: 20px;
    margin-right: 16px; }
  .cover-art .footerbox .next,
  .cover-art .footerbox .shuffle,
  .cover-art .footerbox .loop {
    font-size: 20px;
    margin-left: 16px; }

.shader {
  padding: 20px; }

.volume-box image,
.brightness image {
  color: #e2e2e5;
  background-color: #0c0e10;
  padding: 0;
  border-radius: 100px;
  min-height: 42px;
  min-width: 42px; }

.volume-box scale,
.brightness scale {
  margin: 0 8px; }
  .volume-box scale trough,
  .brightness scale trough {
    transition: 250ms;
    border-radius: 100px;
    background-color: #0c0e10;
    min-height: 42px;
    min-width: 42px; }
    .volume-box scale trough highlight,
    .volume-box scale trough progress,
    .brightness scale trough highlight,
    .brightness scale trough progress {
      border-radius: 100px;
      background-color: #91ccff;
      min-height: 0.4em;
      min-width: 42px;
      border-radius: 100px; }
    .volume-box scale trough slider,
    .brightness scale trough slider {
      background-color: transparent;
      border-radius: 100px;
      min-height: 42px;
      min-width: 42px; }
  .volume-box scale:hover trough,
  .brightness scale:hover trough {
    background-color: #1a1c1e; }
  .volume-box scale:disabled highlight,
  .volume-box scale:disabled progress,
  .brightness scale:disabled highlight,
  .brightness scale:disabled progress {
    background: rgba(145, 204, 255, 0.5); }

.volume-box .menu > * > *,
.brightness .menu > * > * {
  margin-top: 8px; }

.volume-box .menu label,
.brightness .menu label {
  margin: 0 8px; }

.volume-box .settings__button,
.brightness .settings__button {
  margin-top: 8px;
  padding: 12px 10px;
  background: #0c0e10;
  border-radius: 100px;
  transition: all 0.3s ease-in-out; }
  .volume-box .settings__button:hover,
  .brightness .settings__button:hover {
    background: #1a1c1e; }

.title-box .title {
  font-weight: 600;
  font-size: 19px; }

.title-box .artist {
  font-weight: 400;
  font-size: 17px; }

.play-pause {
  min-width: 60px;
  min-height: 60px;
  border-radius: 20px;
  padding: 0;
  transition: all 0.3s; }

.position-slider trough {
  transition: 250ms;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 4px; }
  .position-slider trough highlight,
  .position-slider trough progress {
    border-radius: 100px;
    background-color: #fff;
    border-radius: 100px; }
  .position-slider trough slider {
    border-radius: 100px;
    min-height: 4px;
    min-width: 4px;
    background-color: #fff; }

.notifications__header {
  min-height: 0;
  margin-bottom: 12px; }

.notifications__title {
  margin-left: 4px;
  font-size: 18px;
  font-weight: 500; }

.notifications__clear-button {
  padding: 12px 14px;
  background-color: #91ccff;
  background-color: #003353;
  border-radius: 100px; }
  .notifications__clear-button image {
    margin-left: 4px; }

.media {
  min-height: 213px; }

.mediabox {
  min-height: 213px; }

.notifications-popup-list {
  min-width: 380px; }

.notification {
  color: #e2e2e5;
  background-color: #0c0e10;
  border-radius: 22px;
  margin-bottom: 8px;
  padding: 20px; }
  .notification .icon {
    margin-right: 16px; }
  .notification .title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px; }
  .notification .time {
    font-size: 16px;
    font-weight: 400; }
  .notification .description {
    font-size: 16px;
    font-weight: 500; }
  .notification .action-button {
    margin-top: 14px; }
  .notification .close-button {
    margin-left: 14px;
    padding: 4px;
    border-radius: 100px;
    background-color: #91ccff;
    color: #003353; }

.indicator .progress {
  padding: 0px;
  border-radius: 100px;
  background-color: rgba(12, 14, 16, 0.6);
  min-width: 70px;
  margin-left: 24px; }
  .indicator .progress .fill {
    border-radius: 100px;
    background-color: #91ccff;
    color: #0c0e10;
    min-width: 60px; }
    .indicator .progress .fill image {
      margin-top: 20px;
      -gtk-icon-transform: scale(1); }
    .indicator .progress .fill label {
      margin: 3px;
      font-size: 12px; }
