.scrim {
  background-color: rgba(0, 0, 0, 0.32); }

* {
  all: unset;
  font-size: 14px;
  font-family: "Product Sans", sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0; }

.separator {
  min-width: 8px;
  min-height: 8px; }

.text__bold {
  font-weight: 600; }

tooltip > * > * {
  background-color: #34302c;
  color: #e9e1dc;
  padding: 20px;
  border-radius: 20px; }

window.popup > * {
  border: none;
  box-shadow: none; }

window.popup menu {
  margin-top: 12px;
  border-radius: 18px;
  background-color: #221f1c;
  padding: 12px; }
  window.popup menu menuitem {
    padding: 8px 10px;
    color: #e9e1dc;
    border-radius: 8px;
    transition: background 0.1s ease; }
    window.popup menu menuitem:hover {
      background: #383431; }
    window.popup menu menuitem:first-child {
      margin-top: 0; }
    window.popup menu menuitem:last-child {
      margin-bottom: 0; }

/* Common Styles */
.bar {
  background-color: rgba(22, 19, 16, 0.8);
  margin: 0;
  padding: 8px 12px;
  border-bottom: 1px solid #34302c; }

.workspaces,
.clock,
.bar__controlcenter_container,
.weather,
.activeapp,
.notifications-indicator {
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  color: #e9e1dc;
  background-color: rgba(233, 225, 220, 0.08);
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out; }
  .workspaces:hover,
  .clock:hover,
  .bar__controlcenter_container:hover,
  .weather:hover,
  .activeapp:hover,
  .notifications-indicator:hover {
    background-color: rgba(233, 225, 220, 0.18); }

.keyboardlayout,
.battery {
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  color: #ffddb9;
  background-color: #643e07; }
  .keyboardlayout:hover,
  .battery:hover {
    background-color: #ffddb9; }

.active {
  background: #f4bc7b;
  color: #472a00; }

/* Specific Styles */
.activeapp,
.battery,
.weather {
  font-weight: 700; }

.workspaces,
.clock,
.weather,
.activeapp,
.battery {
  padding: 0 14px; }

.launcher {
  background: #f4bc7b;
  padding: 0;
  margin: 0;
  min-width: 42px;
  min-height: 42px;
  border-radius: 42px;
  transition: background-color 0.1s ease-in-out; }
  .launcher .launcher__icon {
    background-color: #472a00;
    min-width: 14px;
    min-height: 14px;
    border-radius: 100%; }
  .launcher:hover {
    background-color: #ffddb9; }

.workspaces {
  min-width: 260px; }
  .workspaces .workspace-indicator {
    min-width: 14px;
    min-height: 14px;
    border-radius: 100px;
    margin: 0 5px;
    transition: min-width 0.3s ease, background-color 0.3s ease-out;
    background-color: rgba(255, 255, 255, 0.17); }
    .workspaces .workspace-indicator:last-child {
      margin-right: 0px; }
    .workspaces .workspace-indicator:first-child {
      margin-left: 0px; }
    .workspaces .workspace-indicator:hover {
      background-color: rgba(244, 188, 123, 0.6); }
    .workspaces .workspace-indicator.active, .workspaces .workspace-indicator:active {
      min-width: 42px;
      border-radius: 100px;
      background-color: #f4bc7b; }

.activeapp > image {
  margin-right: 8px; }

.clock {
  padding: 0 16px; }

.keyboardlayout {
  font-size: 16px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  min-width: 42px;
  background: #d8c3ae;
  color: #3b2e20; }

.bar__controlcenter_container {
  padding-left: 16px;
  margin-right: 5px;
  padding-right: 8px;
  border-radius: 22px 6px 6px 22px; }
  .bar__controlcenter_container image {
    margin-right: 8px; }
  .bar__controlcenter_container .tray > * {
    margin-right: 8px; }
    .bar__controlcenter_container .tray > *:last-child {
      margin-right: 0px; }
  .bar__controlcenter_container .tray image {
    font-size: 17px; }

.weather {
  margin-right: 5px;
  border-radius: 6px;
  padding-left: 16px;
  padding-right: 12px; }

.battery {
  border-radius: 6px 22px 22px 6px;
  padding-left: 8px; }
  .battery image {
    margin-right: 4px; }

#applauncher .applauncher {
  margin: 8px;
  background-color: rgba(22, 19, 16, 0.8);
  border-radius: 40px;
  padding: 20px; }
  #applauncher .applauncher .header {
    background: #f4bc7b;
    padding: 16px;
    border-radius: 100px;
    margin-bottom: 5px; }
    #applauncher .applauncher .header image,
    #applauncher .applauncher .header entry {
      margin-left: 4px;
      color: #472a00; }
    #applauncher .applauncher .header entry {
      padding-left: 14px;
      font-size: 16px; }
    #applauncher .applauncher .header image {
      font-size: 16px; }
  #applauncher .applauncher scrolledwindow {
    min-width: 400px;
    min-height: 550px; }
  #applauncher .applauncher .placeholder {
    margin-top: 8px;
    color: #e9e1dc;
    font-size: 1.2em; }
  #applauncher .applauncher .app-item {
    all: unset;
    transition: all 0.2s ease;
    padding: 12px;
    border-radius: 100px; }
    #applauncher .applauncher .app-item label {
      transition: all 0.2s ease; }
      #applauncher .applauncher .app-item label.title {
        color: #e9e1dc; }
      #applauncher .applauncher .app-item label.description {
        color: rgba(233, 225, 220, 0.7); }
    #applauncher .applauncher .app-item image {
      transition: all 0.2s ease;
      margin-left: 2px;
      margin-right: 10px; }
    #applauncher .applauncher .app-item:hover {
      background: #2d2926; }
      #applauncher .applauncher .app-item:hover .title {
        color: #e9e1dc; }
    #applauncher .applauncher .app-item:focus {
      background: #f4bc7b; }
      #applauncher .applauncher .app-item:focus .title {
        color: #472a00; }
      #applauncher .applauncher .app-item:focus .description {
        color: #472a00; }
    #applauncher .applauncher .app-item:active {
      background-color: rgba(244, 188, 123, 0.8);
      border-radius: 100px;
      box-shadow: inset 0 0 0 1px #f4bc7b; }
      #applauncher .applauncher .app-item:active .title {
        color: #472a00; }

.controlcenter__container {
  margin-top: 8px;
  margin-right: 8px;
  min-height: 400px;
  background-color: rgba(22, 19, 16, 0.8);
  padding: 20px;
  border-radius: 40px;
  border: 1px solid rgba(233, 225, 220, 0.08); }

.controlcenter__header * {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }

.controlcenter__uptime {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 100px;
  background: #643e07;
  color: #ffddb9; }

.controlcenter__theme,
.controlcenter__power {
  min-width: 42px;
  min-height: 42px;
  border-radius: 100px;
  background: #643e07;
  color: #ffddb9; }

.quicksettings__button {
  background-color: rgba(255, 255, 255, 0.07);
  color: #e9e1dc;
  padding: 0px;
  border-radius: 30px;
  min-width: 220px;
  min-height: 75px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
  .quicksettings__button > * {
    border-radius: 30px; }
  .quicksettings__button.active {
    background-color: #f4bc7b;
    color: #472a00; }
    .quicksettings__button.active:hover {
      background-color: #2d2926; }
  .quicksettings__button:hover {
    background-color: #2d2926; }
  .quicksettings__button image {
    margin-left: 22px;
    margin-right: 18px; }
  .quicksettings__button .title {
    font-weight: 600; }

.menu {
  margin-top: 8px;
  background-color: #221f1c;
  color: #e9e1dc;
  padding: 20px 26px;
  border-radius: 30px;
  min-width: 300px; }
  .menu .title {
    padding: 4px 0px;
    border-radius: 100px;
    margin-bottom: 8px; }
    .menu .title > *:first-child {
      margin-right: 14px; }
    .menu .title label {
      font-weight: bold;
      font-size: 16px; }
  .menu button {
    padding: 8px 12px;
    border-radius: 8px; }
    .menu button:hover {
      background-color: #383431; }
  .menu image {
    margin-right: 4px; }

.player {
  background-color: rgba(233, 225, 220, 0.08);
  border-radius: 30px;
  margin-top: 8px; }

.shader {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  padding: 20px; }

.slider__tooltip {
  color: #472a00;
  background-color: #f4bc7b;
  padding: 0;
  border-radius: 100px;
  min-width: 42px;
  min-height: 42px;
  margin-right: 8px;
  font-size: 18px; }

.volume__box .arrow {
  color: #e9e1dc;
  background-color: rgba(233, 225, 220, 0.08);
  padding: 0;
  border-radius: 100px;
  min-width: 42px;
  min-height: 42px;
  margin-left: 8px; }

.volume__slider trough,
.brightness__slider trough {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 100px;
  background-color: rgba(233, 225, 220, 0.08);
  min-height: 42px; }
  .volume__slider trough highlight,
  .volume__slider trough progress,
  .brightness__slider trough highlight,
  .brightness__slider trough progress {
    border-radius: 100px;
    background-color: #f4bc7b;
    border-radius: 100px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
  .volume__slider trough slider,
  .brightness__slider trough slider {
    border-radius: 100px;
    min-height: 42px;
    min-width: 42px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }

.mixer__tooltip {
  margin-left: 0px;
  background: #2d2926;
  min-height: 42px;
  min-width: 42px;
  border-radius: 100px; }

.mixer__slider trough {
  border-radius: 100px;
  background-color: rgba(233, 225, 220, 0.08);
  min-height: 14px; }
  .mixer__slider trough highlight,
  .mixer__slider trough progress {
    border-radius: 100px;
    background-color: #f4bc7b;
    border-radius: 100px; }
  .mixer__slider trough slider {
    border-radius: 100px;
    min-height: 14px;
    min-width: 14px;
    background-color: transparent; }

.title-box .title {
  font-weight: 600;
  font-size: 19px;
  padding-right: 18px; }

.title-box .artist {
  padding-right: 18px;
  font-weight: 400;
  font-size: 17px; }

.play-pause .playing {
  min-width: 60px;
  min-height: 60px;
  border-radius: 20px;
  padding: 0;
  background: #f4bc7b;
  color: #472a00;
  transition: all 0.3s; }

.play-pause .paused,
.play-pause .stopped {
  min-width: 60px;
  min-height: 60px;
  border-radius: 100px;
  padding: 0;
  background: #f4bc7b;
  color: #472a00;
  transition: all 0.3s; }

.position-slider trough {
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  min-height: 4px; }
  .position-slider trough highlight,
  .position-slider trough progress {
    border-radius: 100px;
    background-color: #fff;
    border-radius: 100px; }
  .position-slider trough slider {
    border-radius: 100px;
    min-height: 4px;
    min-width: 4px;
    background-color: #fff; }

.cover-art {
  min-height: 180px;
  border-radius: 30px;
  transition: all 0.2s; }
  .cover-art .header-box {
    color: #f4bc7b; }
  .cover-art .footer-box > * {
    font-size: 12px; }
  .cover-art .footer-box .previous {
    margin-right: 16px; }
  .cover-art .footer-box .next,
  .cover-art .footer-box .shuffle,
  .cover-art .footer-box .loop {
    margin-left: 16px; }

.notifications {
  margin-left: 20px;
  border-radius: 30px;
  min-width: 400px;
  min-height: 400px;
  border-radius: 40px;
  background: #221f1c;
  color: #e9e1dc; }

.placeholder > image {
  font-size: 50px;
  margin-bottom: 20px; }

.notification-list {
  min-height: 380px; }

.notification-scrollable {
  padding: 16px;
  min-height: 500px; }
  .notification-scrollable scrollbar,
  .notification-scrollable scrollbar * {
    all: unset; }
  .notification-scrollable scrollbar.vertical:hover slider {
    background-color: #f4bc7b;
    min-width: 0.6em; }
  .notification-scrollable scrollbar.vertical slider {
    background-color: #998f86;
    border-radius: 100px;
    min-width: 0.4em;
    min-height: 2em; }

.notifications__title {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 500; }

.notifications__clear-button {
  background: #2d2926;
  padding: 10px 20px;
  border-radius: 100px;
  margin-bottom: 20px;
  margin-right: 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
  .notifications__clear-button:hover {
    background: #383431; }
  .notifications__clear-button image {
    margin-left: 4px; }

.notification:first-child > box {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px; }

.notification:last-child > box {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px; }

.notification > box {
  padding: 14px 16px 14px 14px;
  margin-bottom: 4px;
  color: #e9e1dc;
  background-color: #2d2926;
  border-radius: 4px; }

.notification .icon {
  margin-right: 16px;
  background: rgba(233, 225, 220, 0.08);
  border-radius: 100px; }

.notification .title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px; }

.notification .time {
  font-size: 14px;
  font-weight: 400; }

.notification .description {
  font-size: 15px;
  font-weight: 400;
  color: #d0c4ba; }

.notification .action-button {
  margin-top: 14px; }

.notification .close-button {
  margin-left: 14px;
  padding: 4px;
  border-radius: 100px;
  background-color: #f4bc7b;
  color: #472a00;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
  .notification .close-button:hover {
    background: #ffddb9; }

.notifications-popup-list {
  margin-top: 8px;
  min-width: 400px; }
  .notifications-popup-list .notification > box {
    color: #e9e1dc;
    background-color: rgba(22, 19, 16, 0.8); }

.indicator .progress {
  padding: 0px;
  border-radius: 100px;
  background-color: rgba(22, 19, 16, 0.8);
  min-width: 70px;
  margin-left: 24px; }
  .indicator .progress .fill {
    border-radius: 100px;
    background-color: #f4bc7b;
    color: #472a00;
    min-width: 60px; }
    .indicator .progress .fill image {
      margin-right: 14px;
      -gtk-icon-transform: scale(1); }
    .indicator .progress .fill label {
      margin: 3px;
      font-size: 12px; }

.calendar {
  background: rgba(22, 19, 16, 0.8);
  border-radius: 20px;
  padding: 20px; }
  .calendar * {
    padding: 60px; }
  .calendar calendar {
    font-size: 1.1em;
    padding: 0.2em; }
    .calendar calendar:selected {
      min-width: 60px;
      min-height: 60px;
      background: #643e07;
      color: #ffddb9;
      border-radius: 100px; }
    .calendar calendar.header {
      background-color: transparent;
      border: none; }
    .calendar calendar.highlight {
      padding: 40px; }
