$theme: 'dark';

$red: #{{base0f-hex}};
$green: #{{base0B-hex}};
$yellow: #{{base0A-hex}};
$blue: #{{base0d-hex}};
$magenta: #{{base0e-hex}};
$teal: #{{base0c-hex}};
$orange: #{{base09-hex}};
$bg_color: #{{base00-hex}};
$bg2_color: #{{base01-hex}};
$bg3_color: #{{base02-hex}};
$fg_color: #{{base05-hex}};
$hover_fg: #{{base05-hex}};
$accent_fg: #171717;
$hover: transparentize(#{{base04-hex}}, 0.84);
$accent: #{{base07-hex}};
