swaylock \
	--screenshots \
	--clock \
	--indicator \
	--indicator-radius 125 \
	--indicator-thickness 7 \
	--effect-blur 10x10 \
	--effect-vignette 0.5:0.5 \
	--font "Product Sans" \
	--font-size 32 \
	--line-color 00000000 \
	--line-clear-color 00000000 \
	--line-wrong-color 00000000 \
	--line-ver-color 00000000 \
	--ring-ver-color {{base07-hex}}00 \
	--ring-wrong-color {{base07-hex}}00 \
	--ring-clear-color {{base07-hex}}00 \
	--ring-color {{base07-hex}}00 \
	--inside-color {{base00-hex}} \
	--inside-wrong-color {{base08-hex}} \
	--inside-ver-color {{base0D-hex}} \
	--layout-bg-color 00000000 \
	--layout-text-color {{base04-hex}} \
	--key-hl-color {{base07-hex}} \
	--separator-color 00000000 \
	--text-color {{base07-hex}} \ 
	--grace 2 \
	--fade-in 0.2
