$theme: 'dark';

$red: #{{red}};
$green: #{{green}};
$yellow: #{{yellow}};
$blue: #{{blue}};
$magenta: #{{magenta}};
$teal: #{{teal}};
$orange: #{{orange}};
$surface: #{{surface}};
$surface1: #{{surface1}};
$surface2: #{{surface2}};
$surface3: #{{surface3}};
$surface4: #{{surface4}};
$surface5: #{{surface5}};
$onSurface: #{{onSurface}};
$onSurfaceVariant: #{{onSurfaceVariant}};
$primary: #{{primary}};
$onPrimary: #{{onPrimary}};
$primaryContainer: #{{primaryContainer}};
$onPrimaryContainer: #{{onPrimaryContainer}};
$secondary: #{{secondary}};
$onSecondary: #{{onSecondary}};
$secondaryContainer: #{{secondaryContainer}};
$onSecondaryContainer: #{{onSecondaryContainer}};
$tertiary: #{{tertiary}};
$onTertiary: #{{onTertiary}};
$tertiaryContainer: #{{tertiaryContainer}};
$onTertiaryContainer: #{{onTertiaryContainer}};
$outline: #{{outline}};
$outlineVariant: #{{outlineVariant}};
