general {
    col.inactive_border = rgb({{outlineVariant}})
    col.active_border = rgb({{outlineVariant}})
}

decoration {
    col.shadow=rgba({{surface}}66)
    col.shadow_inactive=rgba({{surface}}66)
}
