background #{{surface3}}
foreground #{{onSurface}}
selection_background #{{onSurface}}
selection_foreground #{{surface3}}
url_color #{{primary}}
cursor #{{onSurface}}
active_border_color #{{outline}}
inactive_border_color #{{surface}}
active_tab_background #{{onSurface}}
active_tab_foreground #{{surface3}}
inactive_tab_background #{{surface3}}
inactive_tab_foreground #{{onSurface}}
tab_bar_background #{{surface}}

# normal
color0 #{{surface3}}
color1 #{{red}}
color2 #{{green}}
color3 #{{yellow}}
color4 #{{blue}}
color5 #{{magenta}}
color6 #{{teal}}
color7 #{{onSurface}}

# bright
color8 #{{surface3}}  
color9 #{{red}}         
color10 #{{green}}       
color11 #{{yellow}}      
color12 #{{blue}}        
color13 #{{magenta}}     
color14 #{{teal}}        
color15 #{{onSurface}}
