{
    "$schema": "vscode://schemas/color-theme",
    "name": "Material you",
    "type": "dark",
    "colors": {
        // Contrast colors
        // "contrastActiveBorder": "#f00", //7
        // "contrastBorder": "#f00", //6

        // Base colors
        // "focusBorder": "#f00", //7
        "foreground": "#{{onSurface}}", //5
        "disabledForeground": "#{{onSurface}}", //4
        "widget.shadow": "#{{surface3}}", //0
        "selection.background": "#{{blue}}", //D
        "descriptionForeground": "#{{outline}}", //3
        "errorForeground": "#{{red}}", //8
        "icon.foreground": "#{{onSurface}}", //4
        // "sash.hoverBorder": "#ff0000",

        // Window border
        // "window.activeBorder": "#f00",
        // "window.inactiveBorder": "#f00",

        // Text colors
        "textBlockQuote.background": "#{{surface}}", //1
        "textBlockQuote.border": "#{{blue}}", //D
        "textCodeBlock.background": "#{{surface3}}", //0
        "textLink.activeForeground": "#{{teal}}", //C
        "textLink.foreground": "#{{blue}}", //D
        "textPreformat.foreground": "#{{blue}}", //D
        "textSeparator.foreground": "#f0f",

        // Action colors
        "toolbar.hoverBackground": "#{{surface5}}", //2
        // "toolbar.hoverOutline": "#ff0000",
        "toolbar.activeBackground": "#{{outline}}", //3

        // Button control
        "button.background": "#{{primary}}", //D
        "button.foreground": "#{{surface3}}", //7
        // "button.border": "#ff0000",
        "button.hoverBackground": "#{{onSurface}}", //4
        "button.secondaryForeground": "#{{primary}}", //7
        "button.secondaryBackground": "#{{magenta}}", //E
        "button.secondaryHoverBackground": "#{{onSurface}}", //4
        "checkbox.background": "#{{surface3}}", //0
        "checkbox.foreground": "#{{onSurface}}", //5
        // "checkbox.border": "#f00",

        // Dropdown control
        "dropdown.background": "#{{surface3}}", //0
        "dropdown.listBackground": "#{{surface3}}", //0
        // "dropdown.border": "#f00", //2
        "dropdown.foreground": "#{{onSurface}}", //5

        // Input control
        "input.background": "#{{surface3}}", //0
        // "input.border": "#f00", //0
        "input.foreground": "#{{onSurface}}", //5
        "input.placeholderForeground": "#{{outline}}", //3
        "inputOption.activeBackground": "#{{surface5}}", //2
        "inputOption.activeBorder": "#{{orange}}", //9
        "inputOption.activeForeground": "#{{onSurface}}", //5
        "inputValidation.errorBackground": "#{{red}}", //8
        "inputValidation.errorForeground": "#{{onSurface}}", //5
        "inputValidation.errorBorder": "#{{red}}", //8
        "inputValidation.infoBackground": "#{{blue}}", //D
        "inputValidation.infoForeground": "#{{onSurface}}", //5
        "inputValidation.infoBorder": "#{{blue}}", //D
        "inputValidation.warningBackground": "#{{yellow}}", //A
        "inputValidation.warningForeground": "#{{onSurface}}", //5
        "inputValidation.warningBorder": "#{{yellow}}", //A

        // Scrollbar control
        "scrollbar.shadow": "#{{surface}}", //1
        "scrollbarSlider.activeBackground": "#{{onSurface}}6f", //4
        "scrollbarSlider.background": "#{{surface5}}6f", //2
        "scrollbarSlider.hoverBackground": "#{{outline}}6f", //3

        // Badge
        "badge.background": "#{{surface3}}", //0
        "badge.foreground": "#{{onSurface}}", //5

        // Progress bar
        "progressBar.background": "#{{outline}}", //3

        // Lists and trees
        "list.activeSelectionBackground": "#{{surface5}}", //2
        "list.activeSelectionForeground": "#{{onSurface}}", //5
        "list.dropBackground": "#{{primary}}", //7
        "list.focusBackground": "#{{surface5}}", //2
        "list.focusForeground": "#{{onSurface}}", //5
        "list.highlightForeground": "#{{primary}}", //7
        "list.hoverBackground": "#{{outline}}", //3
        "list.hoverForeground": "#{{onSurface}}", //5
        "list.inactiveSelectionBackground": "#{{surface5}}", //2
        "list.inactiveSelectionForeground": "#{{onSurface}}", //5
        "list.inactiveFocusBackground": "#{{surface5}}", //2
        "list.invalidItemForeground": "#{{red}}", //8
        "list.errorForeground": "#{{red}}", //8
        "list.warningForeground": "#{{yellow}}", //A
        "listFilterWidget.background": "#{{surface3}}", //0
        // "listFilterWidget.outline": "#f00",
        "listFilterWidget.noMatchesOutline": "#{{red}}", //8
        "list.filterMatchBackground": "#{{surface5}}", //2
        // "list.filterMatchBorder": "#f00",
        "tree.indentGuidesStroke": "#{{onSurface}}", //5
        // "list.deemphasizedForeground": "#ff0000",

        // Activity Bar
        "activityBar.background": "#{{surface3}}", //0
        // Below is no longer supported as of 1.52
        "activityBar.dropBackground": "#{{primary}}", //7
        // Above is no longer supported as of 1.52
        // "activityBar.dropBorder": "#ff0000",
        "activityBar.foreground": "#{{onSurface}}", //5
        "activityBar.inactiveForeground": "#{{outline}}", //3
        // "activityBar.border": "#f00", //0
        "activityBarBadge.background": "#{{primary}}", //D
        "activityBarBadge.foreground": "#{{surface3}}", //7
        // "activityBar.activeBorder": "#f00",
        "activityBar.activeBackground": "#{{surface5}}", //2
        // "activityBar.activeFocusBorder": "#ff0000",

        // Side Bar
        "sideBar.background": "#{{surface}}", //1
        "sideBar.foreground": "#{{onSurface}}", //5
        // "sideBar.border": "#f00", //1
        "sideBar.dropBackground": "#{{surface5}}6f", //2
        "sideBarTitle.foreground": "#{{onSurface}}", //5
        "sideBarSectionHeader.background": "#{{outline}}", //3
        "sideBarSectionHeader.foreground": "#{{onSurface}}", //5
        // "sidebarSectionHeader.border": "#f00",

        //Minimap
        "minimap.findMatchHighlight": "#{{yellow}}6f", //A
        "minimap.selectionHighlight": "#{{surface5}}6f", //2
        "minimap.errorHighlight": "#{{red}}", //8
        "minimap.warningHighlight": "#{{yellow}}", //A
        "minimap.background": "#{{surface3}}", //0
        "minimap.selectionOccurrenceHighlight": "#{{outline}}", //3
        // "minimap.foregroundOpacity": "#ff0000",
        // "minimapSlider.background": "#f00",
        // "minimapSlider.hoverBackground": "#f00",
        // "minimapSlider.activeBackground": "#f00",
        "minimapGutter.addedBackground": "#{{green}}", //B
        "minimapGutter.modifiedBackground": "#{{magenta}}", //E
        "minimapGutter.deletedBackground": "#{{red}}", //8

        // Editor Groups & Tabs
        // Below is no longer supported as of 1.24
        "editorGroup.background": "#{{surface3}}", //0
        // Above is no longer supported as of 1.24
        // "editorGroup.border": "#f00",
        "editorGroup.dropBackground": "#{{surface5}}6f", //2
        "editorGroupHeader.noTabsBackground": "#{{surface}}", //1
        "editorGroupHeader.tabsBackground": "#{{surface}}", //1
        // "editorGroupHeader.tabsBorder": "#f00",
        // "editorGroupHeader.border": "#ff0000",
        "editorGroup.emptyBackground": "#{{surface3}}", //0
        // "editorGroup.focusedEmptyBorder": "#f00"
        "editorGroup.dropIntoPromptForeground": "#{{onSurface}}", //5
        "editorGroup.dropIntoPromptBackground": "#{{surface3}}", //0
        // "editorGroup.dropIntoPromptBorder": "#ff0000",
        "tab.activeBackground": "#{{surface3}}", //0
        "tab.unfocusedActiveBackground": "#{{surface3}}", //0
        "tab.activeForeground": "#{{onSurface}}", //5
        // "tab.border": "#f00",
        // "tab.unfocusedActiveBorder": "#f00",
        // "tab.activeBorderTop": "#f00",
        // "tab.unfocusedActiveBorderTop": "#f00",
        // "tab.lastPinnedBorder": "#ff0000",
        "tab.inactiveBackground": "#{{surface}}", //1
        // "tab.unfocusedInactiveBackground": "#ff0000",
        "tab.inactiveForeground": "#{{outline}}", //3
        "tab.unfocusedActiveForeground": "#{{onSurface}}", //4
        "tab.unfocusedInactiveForeground": "#{{outline}}", //3
        "tab.hoverBackground": "#{{surface5}}", //2
        "tab.unfocusedHoverBackground": "#{{surface5}}", //2
        // "tab.hoverForeground": "#ff0000",
        // "tab.unfocusedHoverForeground": "#ff0000",
        // "tab.hoverBorder": "#f00",
        // "tab.unfocusedHoverBorder": "#f00",
        "tab.activeModifiedBorder": "#{{blue}}", //D
        "tab.inactiveModifiedBorder": "#{{blue}}", //D
        "tab.unfocusedActiveModifiedBorder": "#{{blue}}", //D
        "tab.unfocusedInactiveModifiedBorder": "#{{blue}}", //D
        "editorPane.background": "#{{surface3}}", //0
        // "sideBySideEditor.horizontalBorder": "#ff0000",
        // "sideBySideEditor.verticalBorder": "#ff0000",

        // Editor colors
        "editor.background": "#{{surface3}}", //0
        "editor.foreground": "#{{onSurface}}", //5
        "editorLineNumber.foreground": "#{{outline}}", //3
        "editorLineNumber.activeForeground": "#{{onSurface}}", //4
        // "editorCursor.background": "#f00",
        "editorCursor.foreground": "#{{onSurface}}", //5
        "editor.selectionBackground": "#{{surface5}}", //2
        // "editor.selectionForeground": "#f00",
        "editor.inactiveSelectionBackground": "#{{surface5}}", //2
        "editor.selectionHighlightBackground": "#{{surface}}", //1
        // "editor.selectionHighlightBorder": "#f00",
        "editor.wordHighlightBackground": "#{{surface5}}6f", //2
        // "editor.wordHighlightBorder": "#f00".
        "editor.wordHighlightStrongBackground": "#{{outline}}6f", //3
        // "editor.wordHighlightStrongBorder": "#f00",
        "editor.findMatchBackground": "#{{yellow}}6f", //A
        "editor.findMatchHighlightBackground": "#{{orange}}6f", //9
        "editor.findRangeHighlightBackground": "#{{surface}}6f", //1
        // "editor.findMatchBorder": "#f00",
        // "editor.findMatchHighlightBorder": "#f00",
        // "editor.findRangeHighlightBorder": "#f00",
        "searchEditor.findMatchBackground": "#{{yellow}}6f", //A
        // "searchEditor.findMatchBorder": "#ff0000",
        // "searchEditor.textInputBorder": "#ff0000",
        "editor.hoverHighlightBackground": "#{{surface5}}6f", //2
        "editor.lineHighlightBackground": "#{{surface}}", //1
        // "editorUnicodeHighlight.border": "#ff0000",
        // "editorUnicodeHighlight.background": "#ff0000",
        // "editor.lineHighlightBorder": "#f00",
        "editorLink.activeForeground": "#{{blue}}", //D
        "editor.rangeHighlightBackground": "#{{surface}}6f", //1
        // "editor.rangeHighlightBorder": "#f00",
        // "editor.symbolHighlightBackground": "#ff0000",
        // "editor.symbolHighlightBorder": "#ff0000",
        "editorWhitespace.foreground": "#{{outline}}", //3
        "editorIndentGuide.background": "#{{outline}}", //3
        "editorIndentGuide.activeBackground": "#{{onSurface}}", //4
        "editorInlayHint.background": "#{{surface}}", //1
        "editorInlayHint.foreground": "#{{onSurface}}", //5
        "editorInlayHint.typeBackground": "#{{surface}}", //1
        "editorInlayHint.typeForeground": "#{{onSurface}}", //5
        "editorInlayHint.parameterBackground": "#{{surface}}", //1
        "editorInlayHint.parameterForeground": "#{{onSurface}}", //5
        "editorRuler.foreground": "#{{outline}}", //3
        // "editor.linkedEditingBackground": "#ff0000",
        /// CodeLens
        "editorCodeLens.foreground": "#{{surface5}}", //2
        /// Lightbulb
        "editorLightBulb.foreground": "#{{yellow}}", //A
        "editorLightBulbAutoFix.foreground": "#{{blue}}", //D
        /// Bracket matches
        "editorBracketMatch.background": "#{{surface5}}", //2
        // "editorBracketMatch.border": "#f00",
        /// Bracket pair colorization
        "editorBracketHighlight.foreground1": "#{{red}}", //8
        "editorBracketHighlight.foreground2": "#{{orange}}", //9
        "editorBracketHighlight.foreground3": "#{{yellow}}", //A
        "editorBracketHighlight.foreground4": "#{{green}}", //B
        "editorBracketHighlight.foreground5": "#{{blue}}", //D
        "editorBracketHighlight.foreground6": "#{{magenta}}", //E
        "editorBracketHighlight.unexpectedBracket.foreground": "#{{brown}}", //F
        /// Bracket pair guides
        // "editorBracketPairGuide.activeBackground1": "#ff0000",
        // "editorBracketPairGuide.activeBackground2": "#ff0000",
        // "editorBracketPairGuide.activeBackground3": "#ff0000",
        // "editorBracketPairGuide.activeBackground4": "#ff0000",
        // "editorBracketPairGuide.activeBackground5": "#ff0000",
        // "editorBracketPairGuide.activeBackground6": "#ff0000",
        // "editorBracketPairGuide.background1": "#ff0000",
        // "editorBracketPairGuide.background2": "#ff0000",
        // "editorBracketPairGuide.background3": "#ff0000",
        // "editorBracketPairGuide.background4": "#ff0000",
        // "editorBracketPairGuide.background5": "#ff0000",
        // "editorBracketPairGuide.background6": "#ff0000",
        /// Folding
        // "editor.foldBackground": "#ff0000",
        /// Overview ruler
        // "editorOverviewRuler.background": "#ff0000",
        // "editorOverviewRuler.border": "#f00",
        "editorOverviewRuler.findMatchForeground": "#{{yellow}}6f", //A
        "editorOverviewRuler.rangeHighlightForeground": "#{{outline}}6f", //3
        "editorOverviewRuler.selectionHighlightForeground": "#{{surface5}}6f", //2
        "editorOverviewRuler.wordHighlightForeground": "#{{primary}}6f", //7
        "editorOverviewRuler.wordHighlightStrongForeground": "#{{blue}}6f", //D
        "editorOverviewRuler.modifiedForeground": "#{{magenta}}", //E
        "editorOverviewRuler.addedForeground": "#{{green}}", //B
        "editorOverviewRuler.deletedForeground": "#{{red}}", //8
        "editorOverviewRuler.errorForeground": "#{{red}}", //8
        "editorOverviewRuler.warningForeground": "#{{yellow}}", //A
        "editorOverviewRuler.infoForeground": "#{{teal}}", //C
        "editorOverviewRuler.bracketMatchForeground": "#{{onSurface}}", //6
        /// Errors and warnings
        "editorError.foreground": "#{{red}}", //8
        // "editorError.background": "#{{red}}6f", //8
        // "editorError.border": "",
        "editorWarning.foreground": "#{{yellow}}", //A
        // "editorWarning.background": "#{{yellow}}6f", //A
        // "editorWarning.border": "#f00", 
        "editorInfo.foreground": "#{{teal}}", //C
        // "editorInfo.background": "#{{teal}}6f", //C
        // "editorInfo.border": "",
        "editorHint.foreground": "#{{blue}}", //D
        // "editorHint.border": "#f00",
        "problemsErrorIcon.foreground": "#{{red}}", //8
        "problemsWarningIcon.foreground": "#{{yellow}}", //A
        "problemsInfoIcon.foreground": "#{{teal}}", //C
        /// Unused source code
        // "editorUnnecessaryCode.border": "#f00",
        // "editorUnnecessaryCode.opacity": "#f00",
        /// Gutter
        "editorGutter.background": "#{{surface3}}", //0
        "editorGutter.modifiedBackground": "#{{magenta}}", //E
        "editorGutter.addedBackground": "#{{green}}", //B
        "editorGutter.deletedBackground": "#{{red}}", //8
        "editorGutter.commentRangeForeground": "#{{onSurface}}", //4
        "editorGutter.foldingControlForeground": "#{{onSurface}}", //5
        // "editorCommentsWidget.resolvedBorder": "#{{green}}", //B
        // "editorCommentsWidget.unresolvedBorder": "#{{red}}", //8
        // "editorCommentsWidget.rangeBackground": "#{{surface}}", //1
        // "editorCommentsWidget.rangeBorder": "#ff0000",
        // "editorCommentsWidget.rangeActiveBackground": "#{{surface5}}", //2
        // "editorCommentsWidget.rangeActiveBorder": "#ff0000",

        // Diff editor colors
        "diffEditor.insertedTextBackground": "#{{green}}20",
        // "diffEditor.insertedTextBorder": "#f00",
        "diffEditor.removedTextBackground": "#{{red}}20",
        // "diffEditor.removedTextBorder": "#f00",
        // "diffEditor.border": "#f00",
        "diffEditor.diagonalFill": "#{{surface5}}", //2
        // "diffEditor.insertedLineBackground": "#ff0000",
        // "diffEditor.removedLineBackground": "#ff0000",
        // "diffEditorGutter.insertedLineBackground": "#ff0000",
        // "diffEditorGutter.removedLineBackground": "#ff0000",
        // "diffEditorOverview.insertedForeground": "#ff0000",
        // "diffEditorOverview.removedForeground": "#ff0000",

        // Editor widget colors
        "editorWidget.foreground": "#{{onSurface}}", //5
        "editorWidget.background": "#{{surface3}}", //0
        // "editorWidget.border": "#f00",
        // "editorWidget.resizeBorder": "#f00",
        "editorSuggestWidget.background": "#{{surface}}", //1
        // "editorSuggestWidget.border": "#f00",
        "editorSuggestWidget.foreground": "#{{onSurface}}", //5
        "editorSuggestWidget.focusHighlightForeground": "#{{primary}}", //7
        "editorSuggestWidget.highlightForeground": "#{{blue}}", //D
        "editorSuggestWidget.selectedBackground": "#{{surface5}}", //2
        "editorSuggestWidget.selectedForeground": "#{{onSurface}}", //6
        // "editorSuggestWidget.selectedIconForeground": "#ff0000",
        // "editorSuggestWidgetStatus.foreground": "#ff0000",
        "editorHoverWidget.foreground": "#{{onSurface}}", //5
        "editorHoverWidget.background": "#{{surface3}}", //1
        // "editorHoverWidget.border": "#f00",
        // "editorHoverWidget.highlightForeground": "#ff0000",
        // "editorHoverWidget.statusBarBackground": "#f00",
        // "editorGhostText.background": "#ff0000",
        // "editorGhostText.foreground": "#ff0000",
        "debugExceptionWidget.background": "#{{surface}}", //1
        // "debugExceptionWidget.border": "#f00",
        "editorMarkerNavigation.background": "#{{surface}}", //1
        "editorMarkerNavigationError.background": "#{{red}}", //8
        "editorMarkerNavigationWarning.background": "#{{yellow}}", //A
        "editorMarkerNavigationInfo.background": "#{{blue}}", //D
        "editorMarkerNavigationError.headerBackground": "#{{red}}20", //8
        "editorMarkerNavigationWarning.headerBackground": "#{{yellow}}20", //A
        "editorMarkerNavigationInfo.headerBackground": "#{{teal}}20", //C

        // Peek view colors
        // "peekView.border": "#f00",
        "peekViewEditor.background": "#{{surface}}", //1
        "peekViewEditorGutter.background": "#{{surface}}", //1
        "peekViewEditor.matchHighlightBackground": "#{{orange}}6f", //9
        // "peekViewEditor.matchHighlightBorder": "#f00",
        "peekViewResult.background": "#{{surface3}}", //0
        "peekViewResult.fileForeground": "#{{onSurface}}", //5
        "peekViewResult.lineForeground": "#{{outline}}", //3
        "peekViewResult.matchHighlightBackground": "#{{orange}}6f", //9
        "peekViewResult.selectionBackground": "#{{surface5}}", //2
        "peekViewResult.selectionForeground": "#{{onSurface}}", //5
        "peekViewTitle.background": "#{{surface5}}", //2
        "peekViewTitleDescription.foreground": "#{{outline}}", //3
        "peekViewTitleLabel.foreground": "#{{onSurface}}", //5

        // Merge conflicts colors
        "merge.currentContentBackground": "#{{blue}}40", //D
        "merge.currentHeaderBackground": "#{{blue}}40", //D
        "merge.incomingContentBackground": "#{{green}}60", //B
        "merge.incomingHeaderBackground": "#{{green}}60", //B
        // "merge.border": "#f00",
        // "merge.commonContentBackground": "#f00",
        // "merge.commonHeaderBackground": "#f00",
        "editorOverviewRuler.currentContentForeground": "#{{blue}}", //D
        "editorOverviewRuler.incomingContentForeground": "#{{green}}", //B
        "editorOverviewRuler.commonContentForeground": "#{{brown}}", //F
        // "mergeEditor.change.background": "#ff0000",
        // "mergeEditor.change.word.background": "#ff0000",
        // "mergeEditor.conflict.unhandledUnfocused.border": "#ff0000",
        // "mergeEditor.conflict.unhandledFocused.border": "#ff0000",
        // "mergeEditor.conflict.handledUnfocused.border": "#ff0000",
        // "mergeEditor.conflict.handledFocused.border": "#ff0000",
        // "mergeEditor.conflict.handled.minimapOverViewRuler": "#ff0000",
        // "mergeEditor.conflict.unhandled.minimapOverViewRuler": "#ff0000",

        // Panel colors
        "panel.background": "#{{surface3}}", //0
        // "panel.border": "#f00",
        // Below is no longer supported as of 1.47
        "panel.dropBackground": "#{{surface}}6f", //1
        // Above is no longer supported as of 1.47
        "panel.dropBorder": "#{{surface}}6f", //1
        // "panelTitle.activeBorder": "#f00",
        "panelTitle.activeForeground": "#{{onSurface}}", //5
        "panelTitle.inactiveForeground": "#{{outline}}", //3
        // "panelInput.border": "#f00",
        // "panelSection.border": "#ff0000",
        // "panelSection.dropBackground": "#ff0000",
        // "panelSectionHeader.background": "#ff0000",
        // "panelSectionHeader.foreground": "#ff0000",
        // "panelSectionHeader.border": "#ff0000",

        // Status Bar colors
        "statusBar.background": "#{{surface3}}", //D
        "statusBar.foreground": "#{{onSurface}}", //7
        // "statusBar.border": "#f00",
        "statusBar.debuggingBackground": "#{{orange}}", //9
        "statusBar.debuggingForeground": "#{{primary}}", //7
        // "statusBar.debuggingBorder": "",
        "statusBar.noFolderBackground": "#{{surface3}}", //E
        "statusBar.noFolderForeground": "#{{onSurface}}", //7
        // "statusBar.noFolderBorder": "",
        "statusBarItem.activeBackground": "#{{outline}}", //3
        "statusBarItem.hoverBackground": "#{{surface5}}", //2
        "statusBarItem.prominentForeground": "#{{primary}}", //7
        "statusBarItem.prominentBackground": "#{{magenta}}", //E
        "statusBarItem.prominentHoverBackground": "#{{red}}", //8
        "statusBarItem.remoteBackground": "#{{green}}", //B
        "statusBarItem.remoteForeground": "#{{onSurface}}", //7
        "statusBarItem.errorBackground": "#{{red}}", //8
        "statusBarItem.errorForeground": "#{{primary}}", //7
        "statusBarItem.warningBackground": "#{{yellow}}", //A
        "statusBarItem.warningForeground": "#{{primary}}", //7
        // "statusBarItem.compactHoverBackground": "#ff0000",
        // "statusBarItem.focusBorder": "#ff0000",
        // "statusBarItem.settingsProfilesForeground": "#ff0000",
        // "statusBarItem.settingsProfilesBackground": "#ff0000",
        // "statusBar.focusBorder": "#ff0000",

        // Title Bar colors
        "titleBar.activeBackground": "#{{surface3}}", //0
        "titleBar.activeForeground": "#{{onSurface}}", //5
        "titleBar.inactiveBackground": "#{{surface}}", //1
        "titleBar.inactiveForeground": "#{{outline}}", //3
        // "titleBar.border": "#f00",

        // Menu Bar colors
        "menubar.selectionForeground": "#{{onSurface}}", //5
        "menubar.selectionBackground": "#{{surface}}", //1
        // "menubar.selectionBorder": "#f00",
        "menu.foreground": "#{{onSurface}}", //5
        "menu.background": "#{{surface}}", //1
        "menu.selectionForeground": "#{{onSurface}}", //5
        "menu.selectionBackground": "#{{surface5}}", //2
        // "menu.selectionBorder": "#f00",
        "menu.separatorBackground": "#{{primary}}", //7
        // "menu.border": "#f00",

        // Command Center colors
        "commandCenter.foreground": "#{{onSurface}}", //5
        "commandCenter.activeForeground": "#{{primary}}", //7
        "commandCenter.background": "#{{surface3}}", //0
        "commandCenter.activeBackground": "#{{surface}}", //1
        // "commandCenter.border": "#ff0000",

        // Notification colors
        // "notificationCenter.border": "",
        "notificationCenterHeader.foreground": "#{{onSurface}}", //5
        "notificationCenterHeader.background": "#{{surface}}", //1
        // "notificationToast.border": "",
        "notifications.foreground": "#{{onSurface}}", //5
        "notifications.background": "#{{surface5}}", //2
        // "notifications.border": "",
        "notificationLink.foreground": "#{{blue}}", //D
        "notificationsErrorIcon.foreground": "#{{red}}", //8
        "notificationsWarningIcon.foreground": "#{{yellow}}", //A
        "notificationsInfoIcon.foreground": "#{{blue}}", //D

        // Below is no longer supported as of 1.21
        "notification.background": "#{{surface5}}", //2
        "notification.foreground": "#{{onSurface}}", //5
        "notification.buttonBackground": "#{{blue}}", //D
        "notification.buttonHoverBackground": "#{{surface5}}", //2
        "notification.buttonForeground": "#{{primary}}", //7
        "notification.infoBackground": "#{{teal}}", //C
        "notification.infoForeground": "#{{primary}}", //7
        "notification.warningBackground": "#{{yellow}}", //A
        "notification.warningForeground": "#{{primary}}", //7
        "notification.errorBackground": "#{{red}}", //8
        "notification.errorForeground": "#{{primary}}", //7
        // Above is no longer supported as of 1.21

        // Banner colors
        "banner.background": "#{{surface5}}", //2
        "banner.foreground": "#{{onSurface}}", //5
        "banner.iconForeground": "#{{blue}}", //D

        // Extensions colors
        "extensionButton.prominentBackground": "#{{green}}", //B
        "extensionButton.prominentForeground": "#{{primary}}", //7
        "extensionButton.prominentHoverBackground": "#{{surface5}}", //2
        "extensionBadge.remoteBackground": "#{{orange}}", //9
        "extensionBadge.remoteForeground": "#{{primary}}", //7
        "extensionIcon.starForeground": "#{{yellow}}", //A
        "extensionIcon.verifiedForeground": "#{{blue}}", //D
        "extensionIcon.preReleaseForeground": "#{{orange}}", //9
        // "extensionIcon.sponsorForeground": "#ff0000",

        // Quick picker colors
        // "pickerGroup.border": "#f00",
        "pickerGroup.foreground": "#{{outline}}", //3
        "quickInput.background": "#{{surface}}", //1
        "quickInput.foreground": "#{{onSurface}}", //5
        "quickInputList.focusBackground": "#{{outline}}", //3
        "quickInputList.focusForeground": "#{{primary}}", //7
        "quickInputList.focusIconForeground": "#{{primary}}", //7
        // "quickInputTitle.background": "#ff0000",

        // Keybinding label colors
        "keybindingLabel.background": "#{{surface5}}", //2
        "keybindingLabel.foreground": "#{{onSurface}}", //5
        // "keybindingLabel.border": "#ff0000",
        // "keybindingLabel.bottomBorder": "#ff0000",

        // Keybinding shortcut table colors
        "keybindingTable.headerBackground": "#{{surface5}}", //2
        "keybindingTable.rowsBackground": "#{{surface}}", //1

        // Integrated terminal colors
        "terminal.background": "#{{surface3}}", //0
        // "terminal.border": "#ff0000",
        "terminal.foreground": "#{{onSurface}}", //5
        "terminal.ansiBlack": "#{{surface3}}", //0
        "terminal.ansiRed": "#{{red}}", //8
        "terminal.ansiGreen": "#{{green}}", //B
        "terminal.ansiYellow": "#{{yellow}}", //A
        "terminal.ansiBlue": "#{{blue}}", //D
        "terminal.ansiMagenta": "#{{magenta}}", //E
        "terminal.ansiCyan": "#{{teal}}", //C
        "terminal.ansiWhite": "#{{onSurface}}", //5
        "terminal.ansiBrightBlack": "#{{outline}}", //3
        "terminal.ansiBrightRed": "#{{red}}", //8
        "terminal.ansiBrightGreen": "#{{green}}", //B
        "terminal.ansiBrightYellow": "#{{yellow}}", //A
        "terminal.ansiBrightBlue": "#{{blue}}", //D
        "terminal.ansiBrightMagenta": "#{{magenta}}", //E
        "terminal.ansiBrightCyan": "#{{teal}}", //C
        "terminal.ansiBrightWhite": "#{{primary}}", //7
        // "terminal.selectionBackground": "#f0f",
        // "terminal.selectionForeground": "#ff0000",
        // "terminal.findMatchBackground": "#ff0000",
        // "terminalCursor.background": "#f0f",
        "terminalCursor.foreground": "#{{onSurface}}", //5
        // "terminal.dropBackground": "#ff0000",
        // "terminal.tab.activeBorder": "#ff0000",
        // "terminalCommandDecoration.defaultBackground": "#ff0000",
        // "terminalCommandDecoration.successBackground": "#ff0000",
        // "terminalCommandDecoration.errorBackground": "#ff0000",
        "terminalOverviewRuler.cursorForeground": "#ff0000",
        "terminalOverviewRuler.findMatchForeground": "#ff0000",
        
        // Debug colors
        "debugToolBar.background": "#{{surface}}", //1
        // "debugToolBar.border": "#f0f",
        // "editor.stackFrameHighlightBackground": "#f0f",
        // "editor.focusedStackFrameHighlightBackground": "#f0f",
        // "editor.inlineValuesForeground": "#ff0000",
        // "editor.inlineValuesBackground": "#ff0000",
        // "debugView.exceptionLabelForeground": "#ff0000",
        // "debugView.exceptionLabelBackground": "#ff0000",
        "debugView.stateLabelForeground": "#{{primary}}", //7
        "debugView.stateLabelBackground": "#{{blue}}", //D
        "debugView.valueChangedHighlight": "#{{blue}}", //D
        "debugTokenExpression.name": "#{{magenta}}", //E
        "debugTokenExpression.value": "#{{onSurface}}", //5
        "debugTokenExpression.string": "#{{green}}", //B
        "debugTokenExpression.boolean": "#{{orange}}", //9
        "debugTokenExpression.number": "#{{orange}}", //9
        "debugTokenExpression.error": "#{{red}}", //8

        // Testing colors
        "testing.iconFailed": "#{{red}}", //8
        "testing.iconErrored": "#{{brown}}", //F
        "testing.iconPassed": "#{{green}}", //B
        "testing.runAction": "#{{onSurface}}", //4
        "testing.iconQueued": "#{{yellow}}", //A
        "testing.iconUnset": "#{{onSurface}}", //4
        "testing.iconSkipped": "#{{magenta}}", //E
        // "testing.peekBorder": "#ff0000",
        "testing.peekHeaderBackground": "#{{surface}}", //1
        "testing.message.error.decorationForeground": "#{{onSurface}}", //5
        "testing.message.error.lineBackground": "#{{red}}20", //8
        "testing.message.info.decorationForeground": "#{{onSurface}}", //5
        "testing.message.info.lineBackground": "#{{blue}}20", //D

        // Welcome page colors
        "welcomePage.background": "#{{surface3}}", //0
        // Below is no longer supported as of 1.63
        "welcomePage.buttonBackground": "#{{surface}}", //1
        "welcomePage.buttonHoverBackground": "#{{surface5}}", //2
        // Above is no longer supported as of 1.63
        "welcomePage.progress.background": "#{{outline}}", //3
        "welcomePage.progress.foreground": "#{{blue}}", //D
        "welcomePage.tileBackground": "#{{surface}}", //1
        "welcomePage.tileHoverBackground": "#{{surface5}}", //2
        // "welcomePage.tileShadow": "#ff0000",
        "walkThrough.embeddedEditorBackground": "#{{surface3}}", //0

        // Source Control colors
        // "scm.providerBorder": "#ff0000",

        // Git colors
        "gitDecoration.addedResourceForeground": "#{{green}}", //B
        "gitDecoration.modifiedResourceForeground": "#{{magenta}}", //E
        "gitDecoration.deletedResourceForeground": "#{{red}}", //8
        "gitDecoration.renamedResourceForeground": "#{{teal}}", //C
        "gitDecoration.stageModifiedResourceForeground": "#{{magenta}}", //E
        "gitDecoration.stageDeletedResourceForeground": "#{{red}}", //8
        "gitDecoration.untrackedResourceForeground": "#{{orange}}", //9
        "gitDecoration.ignoredResourceForeground": "#{{outline}}", //3
        "gitDecoration.conflictingResourceForeground": "#{{yellow}}", //A
        "gitDecoration.submoduleResourceForeground": "#{{brown}}", //F

        // Settings Editor colors
        "settings.headerForeground": "#{{onSurface}}", //5
        "settings.modifiedItemIndicator": "#{{blue}}", //D
        // Below was introduced temporarily in 1.26
        "settings.modifiedItemForeground": "#{{green}}", //B
        // Above was introduced temporarily in 1.26
        "settings.dropdownBackground": "#{{surface}}", //1
        "settings.dropdownForeground": "#{{onSurface}}", //5
        // "settings.dropdownBorder": "",
        // "settings.dropdownListBorder": "",
        "settings.checkboxBackground": "#{{surface}}", //1
        "settings.checkboxForeground": "#{{onSurface}}", //5
        // "settings.checkboxBorder": "",
        "settings.rowHoverBackground": "#{{surface5}}", //2
        "settings.textInputBackground": "#{{surface}}", //1
        "settings.textInputForeground": "#{{onSurface}}", //5
        // "settings.textInputBorder": "",
        "settings.numberInputBackground": "#{{surface}}", //1
        "settings.numberInputForeground": "#{{onSurface}}", //5
        // "settings.numberInputBorder": "",
        "settings.focusedRowBackground": "#{{surface5}}", //2
        // "settings.focusedRowBorder": "#ff0000",
        "settings.headerBorder": "#{{onSurface}}", //5
        "settings.sashBorder": "#{{onSurface}}", //5

        // Breadcrumbs colors
        "breadcrumb.foreground": "#{{onSurface}}", //5
        "breadcrumb.background": "#{{surface3}}", //1
        "breadcrumb.focusForeground": "#{{onSurface}}", //6
        "breadcrumb.activeSelectionForeground": "#{{primary}}", //7
        "breadcrumbPicker.background": "#{{surface}}", //1

        // Snippets colors
        "editor.snippetTabstopHighlightBackground": "#{{surface5}}", //2
        // "editor.snippetTabstopHighlightBorder": "#f00",
        "editor.snippetFinalTabstopHighlightBackground": "#{{outline}}", //3
        // "editor.snippetFinalTabstopHighlightBorder": "#f00",

        // Symbol Icons colors
        "symbolIcon.arrayForeground": "#{{onSurface}}", //5
        "symbolIcon.booleanForeground": "#{{orange}}", //9
        "symbolIcon.classForeground": "#{{yellow}}", //A
        "symbolIcon.colorForeground": "#f0f",
        "symbolIcon.constantForeground": "#{{orange}}", //9
        "symbolIcon.constructorForeground": "#{{blue}}", //D
        "symbolIcon.enumeratorForeground": "#{{orange}}", //9
        "symbolIcon.enumeratorMemberForeground": "#{{blue}}", //D
        "symbolIcon.eventForeground": "#{{yellow}}", //A
        "symbolIcon.fieldForeground": "#{{red}}", //8
        "symbolIcon.fileForeground": "#{{onSurface}}", //5
        "symbolIcon.folderForeground": "#{{onSurface}}", //5
        "symbolIcon.functionForeground": "#{{blue}}", //D,
        "symbolIcon.interfaceForeground": "#{{blue}}", //D
        "symbolIcon.keyForeground": "#f0f",
        "symbolIcon.keywordForeground": "#{{magenta}}", //E
        "symbolIcon.methodForeground": "#{{blue}}", //D
        "symbolIcon.moduleForeground": "#{{onSurface}}", //5
        "symbolIcon.namespaceForeground": "#{{onSurface}}", //5
        "symbolIcon.nullForeground": "#{{brown}}", //F
        "symbolIcon.numberForeground": "#{{orange}}", //9
        "symbolIcon.objectForeground": "#f0f",
        "symbolIcon.operatorForeground": "#f0f",
        "symbolIcon.packageForeground": "#f0f",
        "symbolIcon.propertyForeground": "#{{onSurface}}", //5
        "symbolIcon.referenceForeground": "#f0f",
        "symbolIcon.snippetForeground": "#{{onSurface}}", //5
        "symbolIcon.stringForeground": "#{{green}}", //B
        "symbolIcon.structForeground": "#{{yellow}}", //A
        "symbolIcon.textForeground": "#{{onSurface}}", //5
        "symbolIcon.typeParameterForeground": "#f0f",
        "symbolIcon.unitForeground": "#f0f",
        "symbolIcon.variableForeground": "#{{red}}", //8

        // Debug Icons colors
        "debugIcon.breakpointForeground": "#{{red}}", //8
        "debugIcon.breakpointDisabledForeground": "#{{onSurface}}", //4
        "debugIcon.breakpointUnverifiedForeground": "#{{surface5}}", //2
        "debugIcon.breakpointCurrentStackframeForeground": "#{{yellow}}", //A
        "debugIcon.breakpointStackframeForeground": "#{{brown}}", //F
        "debugIcon.startForeground": "#{{green}}", //B
        "debugIcon.pauseForeground": "#{{blue}}", //D
        "debugIcon.stopForeground": "#{{red}}", //8
        "debugIcon.disconnectForeground": "#{{red}}", //8
        "debugIcon.restartForeground": "#{{green}}", //B
        "debugIcon.stepOverForeground": "#{{blue}}", //D
        "debugIcon.stepIntoForeground": "#{{teal}}", //C
        "debugIcon.stepOutForeground": "#{{magenta}}", //E
        "debugIcon.continueForeground": "#{{green}}", //B
        "debugIcon.stepBackForeground": "#{{brown}}", //F
        "debugConsole.infoForeground": "#{{onSurface}}", //5
        "debugConsole.warningForeground": "#{{yellow}}", //A
        "debugConsole.errorForeground": "#{{red}}", //8
        "debugConsole.sourceForeground": "#{{onSurface}}", //5
        "debugConsoleInputIcon.foreground": "#{{onSurface}}", //5

        // Notebook colors
        "notebook.editorBackground": "#{{surface3}}", //0
        "notebook.cellBorderColor": "#{{outline}}", //3
        "notebook.cellHoverBackground": "#{{surface}}", //1
        // "notebook.cellInsertionIndicator": "#ff0000",
        // "notebook.cellStatusBarItemHoverBackground": "#ff0000",
        "notebook.cellToolbarSeparator": "#{{surface5}}", //2
        "notebook.cellEditorBackground": "#{{surface3}}", //0
        "notebook.focusedCellBackground": "#{{surface5}}", //2
        "notebook.focusedCellBorder": "#{{blue}}", //D
        "notebook.focusedEditorBorder": "#{{blue}}", //D
        "notebook.inactiveFocusedCellBorder": "#{{outline}}", //3
        // "notebook.inactiveSelectedCellBorder": "#ff0000",
        // "notebook.outputContainerBackgroundColor": "#ff0000",
        // "notebook.outputContainerBorderColor": "#ff0000",
        "notebook.selectedCellBackground": "#{{surface5}}", //2
        // "notebook.selectedCellBorder": "#ff0000",
        // "notebook.symbolHighlightBackground": "#ff0000",
        // "notebookScrollbarSlider.activeBackground": "#ff0000",
        // "notebookScrollbarSlider.background": "#ff0000",
        // "notebookScrollbarSlider.hoverBackground": "#ff0000",
        "notebookStatusErrorIcon.foreground": "#{{red}}", //8
        "notebookStatusRunningIcon.foreground": "#{{teal}}", //C
        "notebookStatusSuccessIcon.foreground": "#{{green}}", //B

        // Chart colors
        "charts.foreground": "#{{onSurface}}", //5
        "charts.lines": "#{{onSurface}}", //5
        "charts.red": "#{{red}}", //8
        "charts.blue": "#{{blue}}", //D
        "charts.yellow": "#{{yellow}}", //A
        "charts.orange": "#{{orange}}", //9
        "charts.green": "#{{green}}", //B
        "charts.purple": "#{{magenta}}", //E

        // Ports Colors
        "ports.iconRunningProcessForeground": "#{{orange}}" //9
    },
    "tokenColors": [
        {
            "name": "Comment",
            "scope": [
                "comment",
                "punctuation.definition.comment"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{outline}}" //3
            }
        },
        {
            "name": "Variables, Parameters",
            "scope": [
                "variable",
                "string constant.other.placeholder",
                "entity.name.variable.parameter",
                "entity.name.variable.local",
                "variable.parameter"
            ],
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Properties",
            "scope": [
                "variable.other.object.property"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Colors",
            "scope": [
                "constant.other.color"
            ],
            "settings": {
                "foreground": "#{{green}}" //B
            }
        },
        {
            "name": "Invalid",
            "scope": [
                "invalid",
                "invalid.illegal"
            ],
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Invalid - Deprecated",
            "scope": [
                "invalid.deprecated"
            ],
            "settings": {
                "foreground": "#{{brown}}" //F
            }
        },
        {
            "name": "Keyword, Storage",
            "scope": [
                "keyword",
                "storage.modifier"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "Keyword Control",
            "scope": [
                "keyword.control",
                "keyword.control.flow",
                "keyword.control.from",
                "keyword.control.import",
                "keyword.control.as"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "Keyword",
            "scope": [
                "keyword.other.using",
                "keyword.other.namespace",
                "keyword.other.class",
                "keyword.other.new",
                "keyword.other.event",
                "keyword.other.this",
                "keyword.other.await",
                "keyword.other.var",
                "keyword.other.package",
                "keyword.other.import",
                "variable.language.this",
                "storage.type.ts"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "Types, Primitives",
            "scope": [
                "keyword.type",
                "storage.type.primitive"
            ],
            "settings": {
                "foreground": "#{{teal}}" //C
            }
        },
        {
            "name": "Function",
            "scope": [
                "storage.type.function"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Operator, Misc",
            "scope": [
                "constant.other.color",
                "punctuation",
                "punctuation.section.class.end",
                "meta.tag",
                "punctuation.definition.tag",
                "punctuation.separator.inheritance.php",
                "punctuation.definition.tag.html",
                "punctuation.definition.tag.begin.html",
                "punctuation.definition.tag.end.html",
                "keyword.other.template",
                "keyword.other.substitution"
            ],
            "settings": {
                "foreground": "#{{onSurface}}" //5
            }
        },
        {
            "name": "Embedded",
            "scope": [
                "punctuation.section.embedded",
                "variable.interpolation"
            ],
            "settings": {
                "foreground": "#{{brown}}" //F
            }
        },
        {
            "name": "Tag",
            "scope": [
                "entity.name.tag",
                "meta.tag.sgml",
                "markup.deleted.git_gutter"
            ],
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Function, Special Method",
            "scope": [
                "entity.name.function",
                "meta.function-call",
                "variable.function",
                "support.function",
                "keyword.other.special-method"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Block Level Variables",
            "scope": [
                "meta.block variable.other"
            ],
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Other Variable, String Link",
            "scope": [
                "support.other.variable",
                "string.other.link"
            ],
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Number, Constant, Function Argument, Tag Attribute, Embedded",
            "scope": [
                "constant.numeric",
                "constant.language",
                "support.constant",
                "constant.character",
                "constant.escape",
                "keyword.other.unit",
                "keyword.other"
            ],
            "settings": {
                "foreground": "#{{orange}}" //9
            }
        },
        {
            "name": "String, Symbols, Inherited Class, Markup Heading",
            "scope": [
                "string",
                "constant.other.symbol",
                "constant.other.key",
                "entity.other.inherited-class",
                "markup.heading",
                "markup.inserted.git_gutter",
                "meta.group.braces.curly constant.other.object.key.js string.unquoted.label.js"
            ],
            "settings": {
                "fontStyle": "",
                "foreground": "#{{green}}" //B
            }
        },
        {
            "name": "Class, Support",
            "scope": [
                "entity.name",
                "support.type",
                "support.class",
                "support.other.namespace.use.php",
                "meta.use.php",
                "support.other.namespace.php",
                "markup.changed.git_gutter",
                "support.type.sys-types"
            ],
            "settings": {
                "foreground": "#{{yellow}}" //A
            }
        },
        {
            "name": "Storage Type, Import Class",
            "scope": [
                "storage.type",
                "storage.modifier.package",
                "storage.modifier.import"
            ],
            "settings": {
                "foreground": "#{{yellow}}" //A
            }
        },
        {
            "name": "Fields",
            "scope": [
                "entity.name.variable.field"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Entity Types",
            "scope": [
                "support.type"
            ],
            "settings": {
                "foreground": "#{{teal}}" //C
            }
        },
        {
            "name": "CSS Class and Support",
            "scope": [
                "source.css support.type.property-name",
                "source.sass support.type.property-name",
                "source.scss support.type.property-name",
                "source.less support.type.property-name",
                "source.stylus support.type.property-name",
                "source.postcss support.type.property-name"
            ],
            "settings": {
                "foreground": "#{{teal}}" //C
            }
        },
        {
            "name": "Sub-methods",
            "scope": [
                "entity.name.module.js",
                "variable.import.parameter.js",
                "variable.other.class.js"
            ],
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Language methods",
            "scope": [
                "variable.language"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "entity.name.method.js",
            "scope": [
                "entity.name.method.js"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "meta.method.js",
            "scope": [
                "meta.class-method.js entity.name.function.js",
                "variable.function.constructor"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Attributes",
            "scope": [
                "entity.other.attribute-name"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "HTML Attributes",
            "scope": [
                "text.html.basic entity.other.attribute-name.html",
                "text.html.basic entity.other.attribute-name"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{yellow}}" //A
            }
        },
        {
            "name": "CSS Classes",
            "scope": [
                "entity.other.attribute-name.class"
            ],
            "settings": {
                "foreground": "#{{yellow}}" //A
            }
        },
        {
            "name": "CSS ID's",
            "scope": [
                "source.sass keyword.control"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Inserted",
            "scope": [
                "markup.inserted"
            ],
            "settings": {
                "foreground": "#{{green}}" //B
            }
        },
        {
            "name": "Deleted",
            "scope": [
                "markup.deleted"
            ],
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Changed",
            "scope": [
                "markup.changed"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "Regular Expressions",
            "scope": [
                "string.regexp"
            ],
            "settings": {
                "foreground": "#{{teal}}" //C
            }
        },
        {
            "name": "Escape Characters",
            "scope": [
                "constant.character.escape"
            ],
            "settings": {
                "foreground": "#{{teal}}" //C
            }
        },
        {
            "name": "URL",
            "scope": [
                "*url*",
                "*link*",
                "*uri*"
            ],
            "settings": {
                "fontStyle": "underline"
            }
        },
        {
            "name": "Decorators",
            "scope": [
                "tag.decorator.js entity.name.tag.js",
                "tag.decorator.js punctuation.definition.tag.js"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{blue}}" // D
            }
        },
        {
            "name": "ES7 Bind Operator",
            "scope": [
                "source.js constant.other.object.key.js string.unquoted.label.js"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "JSON Key - Level 0",
            "scope": [
                "source.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "JSON Key - Level 1",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "JSON Key - Level 2",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "JSON Key - Level 3",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "JSON Key - Level 4",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "JSON Key - Level 5",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "JSON Key - Level 6",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "JSON Key - Level 7",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "JSON Key - Level 8",
            "scope": [
                "source.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json meta.structure.dictionary.value.json meta.structure.dictionary.json support.type.property-name.json"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Markdown - Plain",
            "scope": [
                "text.html.markdown",
                "punctuation.definition.list_item.markdown"
            ],
            "settings": {
                "foreground": "#{{onSurface}}" //5
            }
        },
        {
            "name": "Markdown - Markup Raw Inline",
            "scope": [
                "text.html.markdown markup.inline.raw.markdown"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "Markdown - Markup Raw Inline Punctuation",
            "scope": [
                "text.html.markdown markup.inline.raw.markdown punctuation.definition.raw.markdown"
            ],
            "settings": {
                "foreground": "#{{teal}}" //C
            }
        },
        {
            "name": "Markdown - Line Break",
            "scope": [
                "text.html.markdown meta.dummy.line-break"
            ],
            "settings": {
                "foreground": "#{{outline}}" //3
            }
        },
        {
            "name": "Markdown - Heading",
            "scope": [
                "markdown.heading",
                "markup.heading | markup.heading entity.name",
                "markup.heading.markdown punctuation.definition.heading.markdown"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Markup - Italic",
            "scope": [
                "markup.italic"
            ],
            "settings": {
                "fontStyle": "italic",
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Markup - Bold",
            "scope": [
                "markup.bold",
                "markup.bold string"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Markup - Bold-Italic",
            "scope": [
                "markup.bold markup.italic",
                "markup.italic markup.bold",
                "markup.quote markup.bold",
                "markup.bold markup.italic string",
                "markup.italic markup.bold string",
                "markup.quote markup.bold string"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Markup - Underline",
            "scope": [
                "markup.underline"
            ],
            "settings": {
                "fontStyle": "underline",
                "foreground": "#{{orange}}" //9
            }
        },
        {
            "name": "Markdown - Blockquote",
            "scope": [
                "markup.quote punctuation.definition.blockquote.markdown"
            ],
            "settings": {
                "foreground": "#{{teal}}" //C
            }
        },
        {
            "name": "Markup - Quote",
            "scope": [
                "markup.quote"
            ],
            "settings": {
                "fontStyle": "italic"
            }
        },
        {
            "name": "Markdown - Link",
            "scope": [
                "string.other.link.title.markdown"
            ],
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "name": "Markdown - Link Description",
            "scope": [
                "string.other.link.description.title.markdown"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "Markdown - Link Anchor",
            "scope": [
                "constant.other.reference.link.markdown"
            ],
            "settings": {
                "foreground": "#{{yellow}}" //A
            }
        },
        {
            "name": "Markup - Raw Block",
            "scope": [
                "markup.raw.block"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "Markdown - Raw Block Fenced",
            "scope": [
                "markup.raw.block.fenced.markdown"
            ],
            "settings": {
                "foreground": "#00000050"
            }
        },
        {
            "name": "Markdown - Fenced Bode Block",
            "scope": [
                "punctuation.definition.fenced.markdown"
            ],
            "settings": {
                "foreground": "#00000050"
            }
        },
        {
            "name": "Markdown - Fenced Code Block Variable",
            "scope": [
                "markup.raw.block.fenced.markdown",
                "variable.language.fenced.markdown"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "name": "Markdown - Fenced Language",
            "scope": [
                "variable.language.fenced.markdown"
            ],
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "name": "Markdown - Separator",
            "scope": [
                "meta.separator"
            ],
            "settings": {
                "fontStyle": "bold",
                "foreground": "#{{teal}}" //C
            }
        },
        {
            "name": "Markup - Table",
            "scope": [
                "markup.table"
            ],
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        },
        {
            "scope": "token.info-token",
            "settings": {
                "foreground": "#{{blue}}" //D
            }
        },
        {
            "scope": "token.warn-token",
            "settings": {
                "foreground": "#{{yellow}}" //A
            }
        },
        {
            "scope": "token.error-token",
            "settings": {
                "foreground": "#{{red}}" //8
            }
        },
        {
            "scope": "token.debug-token",
            "settings": {
                "foreground": "#{{magenta}}" //E
            }
        }
    ]
}
