.controlcenter__container {
	margin-top: 8px;
	margin-right: 8px;
	min-height: 400px;
	background-color: transparentize($surface, 0.2);
	padding: 20px;
	border-radius: 40px;
	border: 1px solid $inverse_surface_transparent;
}

.controlcenter__header {
	* {
		transition:
			background-color 0.3s ease-in-out,
			color 0.3s ease-in-out;
	}
}

.controlcenter__uptime {
	font-size: 16px;
	font-weight: 500;
	padding: 10px 20px;
	border-radius: 100px;
	background: $primary_container;
	color: $on_primary_container;
}

.controlcenter__theme,
.controlcenter__power {
	min-width: 42px;
	min-height: 42px;
	border-radius: 100px;
	background: $primary_container;
	color: $on_primary_container;
}

.quicksettings__button {
	background-color: transparentize(#fff, 0.93);
	color: $on_surface;
	padding: 0px;
	border-radius: 30px;
	> * {
		border-radius: 30px;
	}
	min-width: 220px;
	min-height: 75px;
	transition:
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;

	&.active {
		background-color: $primary;
		color: $on_primary;
		&:hover {
			background-color: $surface_container_high;
		}
	}

	&:hover {
		background-color: $surface_container_high;
	}

	image {
		margin-left: 22px;
		margin-right: 18px;
	}

	.title {
		font-weight: 600;
	}
}

.menu {
	margin-top: 8px;
	background-color: $surface_container;
	color: $on_surface;
	padding: 20px 26px;
	border-radius: 30px;
	min-width: 300px;

	.title {
		padding: 4px 0px;
		border-radius: 100px;
		margin-bottom: 8px;

		> *:first-child {
			margin-right: 14px;
		}

		label {
			font-weight: bold;
			font-size: 16px;
		}
	}

	button {
		padding: 8px 12px;
		border-radius: 8px;
		&:hover {
			background-color: $surface_container_highest;
		}
	}

	image {
		margin-right: 4px;
	}
}

.player {
	background-color: $inverse_surface_transparent;
	border-radius: 30px;
	min-height: 213px;
	margin-top: 8px;
}

.shader {
	background: rgba(0, 0, 0, 0.4);
	border-radius: 30px;
	padding: 20px;
}

.slider__tooltip {
	color: $on_primary;
	background-color: $primary;
	padding: 0;
	border-radius: 100px;
	min-width: 42px;
	min-height: 42px;
	margin-right: 8px;
	font-size: 18px;
}

.volume__box {
	.arrow {
		color: $on_surface;
		background-color: $inverse_surface_transparent;
		padding: 0;
		border-radius: 100px;
		min-width: 42px;
		min-height: 42px;
		margin-left: 8px;
	}
}

.volume__slider,
.brightness__slider {
	trough {
		transition:
			background-color 0.3s ease-in-out,
			color 0.3s ease-in-out;
		border-radius: 100px;
		background-color: $inverse_surface_transparent;
		min-height: 42px;

		highlight,
		progress {
			border-radius: 100px;
			background-color: $primary;
			border-radius: 100px;
			transition:
				background-color 0.3s ease-in-out,
				color 0.3s ease-in-out;
		}

		slider {
			border-radius: 100px;
			min-height: 42px;
			min-width: 42px;
			background-color: transparent;

			transition:
				background-color 0.3s ease-in-out,
				color 0.3s ease-in-out;
		}
	}
}

.mixer__tooltip {
	margin-left: 0px;
	background: $surface_container_high;
	min-height: 42px;
	min-width: 42px;
	border-radius: 100px;
}

.mixer__slider {
	trough {
		border-radius: 100px;
		background-color: $inverse_surface_transparent;
		min-height: 14px;

		highlight,
		progress {
			border-radius: 100px;
			background-color: $primary;
			border-radius: 100px;
		}

		slider {
			border-radius: 100px;
			min-height: 14px;
			min-width: 14px;
			background-color: transparent;
		}
	}
}

.title-box {
	.title {
		font-weight: 600;
		font-size: 19px;
		padding-right: 18px;
	}

	.artist {
		padding-right: 18px;
		font-weight: 400;
		font-size: 17px;
	}
}

.play-pause {
	.playing {
		min-width: 60px;
		min-height: 60px;
		border-radius: 20px;
		padding: 0;
		background: $primary;
		color: $on_primary;
		transition: all 0.3s;
	}
	.paused,
	.stopped {
		min-width: 60px;
		min-height: 60px;
		border-radius: 100px;
		padding: 0;
		background: $primary;
		color: $on_primary;
		transition: all 0.3s;
	}
}

.position-slider {
	// margin: 0 18px;

	trough {
		border-radius: 100px;
		background-color: transparentize(#fff, 0.5);
		min-height: 4px;

		highlight,
		progress {
			border-radius: 100px;
			background-color: #fff;
			border-radius: 100px;
		}

		slider {
			border-radius: 100px;
			min-height: 4px;
			min-width: 4px;
			background-color: #fff;
		}
	}
}

.cover-art {
	min-height: 205px;
	border-radius: 30px;
	transition: all 0.2s;

	.header-box {
		color: $primary;
	}

	.footer-box {
		.controls {
		}
		.previous {
			font-size: 20px;
			margin-right: 16px;
		}
		.next,
		.shuffle,
		.loop {
			font-size: 20px;
			margin-left: 16px;
		}
	}
}
