.notifications {
	margin-left: 20px;
	border-radius: 30px;
	min-width: 400px;
	min-height: 400px;
	padding: 16px;
	border-radius: 40px;
	background: $surface_light;
}

.notification-list {
	min-height: 380px;
}

.notification-scrollable {
	min-height: 500px;
	scrollbar,
	scrollbar * {
		all: unset;
	}

	scrollbar.vertical {
		&:hover {
			slider {
				background-color: $primary;
				min-width: 0.6em;
			}
		}
	}

	scrollbar.vertical slider {
		background-color: $outline;
		border-radius: 100px;
		min-width: 0.4em;
		min-height: 2em;
	}
}

.notifications__title {
	margin-left: 12px;
	font-size: 18px;
	font-weight: 500;
}

.notifications__clear-button {
	padding: 12px 14px;
	background: $primaryContainer;
	color: $on_primary_container;
	border-radius: 100px;
	transition:
		background-color 0.3s ease-in-out,
		color 0.3s ease-in-out;
	image {
		margin-left: 4px;
	}
}

.notification {
	&:first-child {
		> box {
			border-top-right-radius: 30px;
			border-top-left-radius: 30px;
		}
	}
	&:last-child {
		> box {
			border-bottom-right-radius: 30px;
			border-bottom-left-radius: 30px;
		}
	}
	> box {
		padding: 22px 18px;
		margin-bottom: 4px;
		color: $on_surface;
		background-color: $surface_light;
		border-radius: 4px;
	}

	.icon {
		margin-right: 16px;
		background: $surface_light;
		border-radius: 100px;
	}

	.title {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 4px;
	}

	.time {
		font-size: 16px;
		font-weight: 400;
	}

	.description {
		font-size: 16px;
		font-weight: 400;
		color: $on_surface_variant;
	}

	.action-button {
		margin-top: 14px;
	}

	.close-button {
		margin-left: 14px;
		padding: 4px;
		border-radius: 100px;
		background-color: $primary;
		color: $on_primary;
	}
}

.notifications-popup-list {
	margin-top: 8px;
	min-width: 420px;
	.notification {
		> box {
			color: $on_surface;
			background-color: transparentize($background, 0.2);
		}
	}
}
