window.indicator .indicator {
    padding: 0px;
    border-radius: 100px;
    background-color: transparentize($bg_color, 0.4);
    min-width: 70px;
    margin-left: 24px;

    .fill {
        border-radius: 100px;
        background-color: $accent;
        color: $bg_color;
        min-width: 60px;

        image {
            margin-top: 20px;
            -gtk-icon-transform: scale(1);
        }

        label {
            margin: 3px;
            font-size: 12px;
        }
    }
}
