.indicator .progress {
	padding: 0px;
	border-radius: 100px;
	background-color: transparentize($background, 0.1);
	min-width: 70px;
	margin-left: 24px;

	.fill {
		border-radius: 100px;
		background-color: $primary;
		color: $surface3;
		min-width: 60px;

		image {
			margin-right: 14px;
			-gtk-icon-transform: scale(1);
		}

		label {
			margin: 3px;
			font-size: 12px;
		}
	}
}
