.controlcenter__container {
	min-height: 400px;
	background-color: transparentize($surface3, 0.4);
	padding: 20px;
	border-radius: 40px;
}

.notifications--list {
	margin-left: 20px;
	padding: 20px;
	border-radius: 30px;
	min-width: 400px;
	background-color: $surface2;
}

.quicksettings__button {
	background-color: $surface1;
	color: $fg_color;
	padding: 0px;
	border-radius: 30px;
	min-width: 240px;
	min-height: 75px;
	transition: background-color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;

	&.active {
		background-color: $primary;
		color: $onPrimary;
	}

	image {
		margin-left: 24px;
		margin-right: 18px;
	}
}

.submenu {
	margin-top: 8px;
	background-color: $surface1;
	color: $fg_color;
	padding: 30px;
	border-radius: 30px;

	.title {
		padding: 14px 20px;
		background-color: $primary;
		color: $onPrimary;
		border-radius: 100px;
		margin-bottom: 8px;

		> *:first-child {
			margin-right: 14px;
		}

		label {
			font-weight: bold;
			font-size: 16px;
		}
	}

	.content {
		> button,
		> box {
			margin: 8px;
		}

		> button:last-child,
		> box:last-child {
			margin: 8px;
			margin-bottom: 0px;
		}

		image {
			margin-right: 4px;
		}
	}
}

.cover-art {
	margin-top: 8px;
	min-height: 205px;
	border-radius: 30px;
	background-size: cover;
	transition: all 0.2s;

	.footerbox {
		.controls {
		}
		.previous {
			font-size: 20px;
			margin-right: 16px;
		}
		.next,
		.shuffle,
		.loop {
			font-size: 20px;
			margin-left: 16px;
		}
	}
}

.shader {
	padding: 20px;
}

.volume-box,
.brightness {
	image {
		color: $onSurface;
		background-color: $surface1;
		padding: 0;
		border-radius: 100px;
		min-height: 42px;
		min-width: 42px;
	}

	scale {
		margin: 0 8px;
		@include slider;
	}

	.menu {
		> * > * {
			margin-top: 8px;
		}

		label {
			margin: 0 8px;
		}
	}

	.settings__button {
		margin-top: 8px;
		padding: 12px 10px;
		background: $surface1;
		border-radius: 100px;
		transition: all 0.3s ease-in-out;
		&:hover {
			background: $surface2;
		}
	}
}

.title-box {
	.title {
		font-weight: 600;
		font-size: 19px;
	}

	.artist {
		font-weight: 400;
		font-size: 17px;
	}
}

.play-pause {
	min-width: 60px;
	min-height: 60px;
	border-radius: 20px;
	padding: 0;
	transition: all 0.3s;
}

.position-slider {
	// margin: 0 18px;

	trough {
		transition: $transition;
		border-radius: 100px;
		background-color: transparentize(#fff, 0.5);
		min-height: 4px;

		highlight,
		progress {
			border-radius: 100px;
			background-color: #fff;
			border-radius: 100px;
		}

		slider {
			border-radius: 100px;
			min-height: 4px;
			min-width: 4px;
			background-color: #fff;
		}
	}
}

.notifications__header {
	min-height: 0;
	margin-bottom: 12px;
}

.notifications__title {
	margin-left: 4px;
	font-size: 18px;
	font-weight: 500;
}
.notifications__clear-button {
	padding: 12px 14px;
	background-color: $primary;
	background-color: $onPrimary;
	border-radius: 100px;
	image {
		margin-left: 4px;
	}
}

.media {
	min-height: 213px;
}

.mediabox {
	min-height: 213px;
}
