/* base16-wofi (https://sr.ht/~knezi/base16-wofi)
 * Base16 wofi template by knezi
 * Material you scheme by Arsi */

window {
	background-color: rgba(24, 30, 20, 0.7);
	color: #252d20;
}

#entry {
	color: #dce7d2;
	background-color: transprent;
}

#entry:selected {
	background-color: #9dcaff;
}

#entry:selected #text {
	color: #252d20;
}

#input {
	background-color: #252d20;
	color: #dce7d2;
	border-color: #9dcaff; 
}

#input:focus {
	border-color: #ffdd93; 

