@import url('.config/wofi/colors.css');

window {
    margin: 0px;
    border-radius: 15px;
}

#input {
    margin: 4px;
    padding: 10px 10px;
    border: none;
    font-weight: 500;
    background-color: transparent;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}

#input #text {
    margin-left: 30px;
}

#input:focus {
    margin-bottom: 0px;
}

#inner-box {
    margin: 4px;
    font-weight: 500;
    background: transparent;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: none;
    border-radius: 15px;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#text:selected {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background: transparent;
}

#img {
    background: transparent;
    margin-right: 14px;
}

#entry {
    padding: 10px;
    margin: 0px 8px;
    border: none;
    border-radius: 15px;
}

#entry:selected {
    border-radius: 15px;
}

* { outline-style: none; }
